In [1]:
import livef1
import pandas as pd

session = livef1.get_session(season=2024, meeting_identifier="Spa", session_identifier="Race")

2024-12-19 09:46:50,282 : livef1 : DEBUG :: Trying to get season 2024.
2024-12-19 09:46:50,290 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/Index.json
2024-12-19 09:46:51,182 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/Index.json
2024-12-19 09:46:52,257 : livef1 : DEBUG :: The season was received successfully.
2024-12-19 09:46:52,257 : livef1 : DEBUG :: Trying to get meeting by meeting identifier.
2024-12-19 09:46:52,275 : livef1 : DEBUG :: Searching of identifier 'Spa' has started.
2024-12-19 09:46:52,285 : livef1 : INFO :: Selected meeting/session is:
Meeting Offname : FORMULA 1 ROLEX BELGIAN GRAND PRIX 2024
Meeting Name : Belgian Grand Prix
Meeting Circuit Shortname : Spa-Francorchamps
2024-12-19 09:46:52,285 : livef1 : INFO :: The meeting was received successfully.
2024-12-19 09:46:52,293 : livef1 : DEBUG :: Trying to get session by identifier.
2024-12-19 09:46:52,296 : livef1 : DEBUG :: Searching of identifier 'Race' has started.
2024-12-19 09:46:52,297 : livef1 : INFO :: Selected meeting/session is:
Session Name : Race
2024-12-19 09:46:52,297 : livef1 : INFO :: The session was received successfully.

In [3]:
res = session.get_data(dataName="Pit_Lane_Times")
pd.DataFrame(res.value)

2024-12-19 09:47:21,861 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : PitLaneTimeCollection
2024-12-19 09:47:21,862 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/PitLaneTimeCollection.jsonStream
2024-12-19 09:47:22,498 : livef1 : DEBUG :: Successfully parsed streamed data.
2024-12-19 09:47:22,506 : livef1 : DEBUG :: Data has been get in 0.644 seconds
2024-12-19 09:47:22,506 : livef1 : INFO :: Data is successfully received.
2024-12-19 09:47:22,511 : livef1 : DEBUG :: Using parser function for title: PitLaneTimeCollection
2024-12-19 09:47:22,512 : livef1 : DEBUG :: Parsing successful for title: PitLaneTimeCollection
2024-12-19 09:47:22,517 : livef1 : DEBUG :: Data has been parsed in 0.006 seconds
2024-12-19 09:47:22,520 : livef1 : INFO :: Data is successfully parsed.

{'RacingNumber': '27', 'Duration': '23.5', 'Lap': '7'}
{'RacingNumber': '23', 'Duration': '23.6', 'Lap': '8'}
{'RacingNumber': '3', 'Duration': '22.6', 'Lap': '8'}
{'RacingNumber': '2', 'Duration': '23.3', 'Lap': '8'}
{'RacingNumber': '10', 'Duration': '22.9', 'Lap': '9'}
{'RacingNumber': '63', 'Duration': '22.6', 'Lap': '10'}
{'RacingNumber': '1', 'Duration': '23.2', 'Lap': '10'}
{'RacingNumber': '44', 'Duration': '23.1', 'Lap': '11'}
{'RacingNumber': '11', 'Duration': '22.6', 'Lap': '11'}
{'RacingNumber': '81', 'Duration': '22.6', 'Lap': '11'}
{'RacingNumber': '77', 'Duration': '23.1', 'Lap': '11'}
{'RacingNumber': '16', 'Duration': '22.9', 'Lap': '12'}
{'RacingNumber': '31', 'Duration': '23.3', 'Lap': '12'}
{'RacingNumber': '18', 'Duration': '23.0', 'Lap': '12'}
{'RacingNumber': '14', 'Duration': '23.0', 'Lap': '13'}
{'RacingNumber': '4', 'Duration': '22.6', 'Lap': '15'}
{'RacingNumber': '22', 'Duration': '23.4', 'Lap': '15'}
{'RacingNumber': '20', 'Duration': '23.6', 'Lap': '17'}
{'RacingNumber': '55', 'Duration': '23.0', 'Lap': '20'}
{'RacingNumber': '27', 'Duration': '23.2', 'Lap': '20'}
{'RacingNumber': '11', 'Duration': '22.6', 'Lap': '21'}
{'RacingNumber': '3', 'Duration': '22.3', 'Lap': '21'}
{'RacingNumber': '23', 'Duration': '23.1', 'Lap': '23'}
{'RacingNumber': '2', 'Duration': '23.6', 'Lap': '24'}
{'RacingNumber': '16', 'Duration': '23.3', 'Lap': '25'}
{'RacingNumber': '44', 'Duration': '22.7', 'Lap': '26'}
{'RacingNumber': '1', 'Duration': '22.9', 'Lap': '28'}
{'RacingNumber': '55', 'Duration': '23.0', 'Lap': '28'}
{'RacingNumber': '10', 'Duration': '22.8', 'Lap': '28'}
{'RacingNumber': '4', 'Duration': '22.6', 'Lap': '29'}
{'RacingNumber': '81', 'Duration': '24.1', 'Lap': '30'}
{'RacingNumber': '31', 'Duration': '23.5', 'Lap': '30'}
{'RacingNumber': '77', 'Duration': '22.9', 'Lap': '35'}
{'RacingNumber': '11', 'Duration': '22.6', 'Lap': '42'}

    session_key     timestamp RacingNumber Duration  Lap _deleted
0             0  01:08:46.647           27     23.5    7      NaN
1             0  01:09:13.025          NaN      NaN  NaN       27
2             0  01:10:32.083           23     23.6    8      NaN
3             0  01:10:34.930            3     22.6    8      NaN
4             0  01:10:41.051            2     23.3    8      NaN
..          ...           ...          ...      ...  ...      ...
63            0  01:51:26.791          NaN      NaN  NaN       31
64            0  02:00:16.745           77     22.9   35      NaN
65            0  02:00:43.044          NaN      NaN  NaN       77
66            0  02:12:25.875           11     22.6   42      NaN
67            0  02:12:53.103          NaN      NaN  NaN       11

[68 rows x 6 columns]

In [38]:
res = session.get_data(dataName="Position")
df_pos = pd.DataFrame(res.value)
df_pos["min"] = pd.to_datetime(df_pos["timestamp"]).dt.minute
df_pos["hour"] = pd.to_datetime(df_pos["timestamp"]).dt.hour
df_pos["sec"] = pd.to_datetime(df_pos["timestamp"]).dt.second

2024-12-19 10:04:49,267 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : Position.z
2024-12-19 10:04:49,270 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/Position.z.jsonStream
2024-12-19 10:04:54,185 : livef1 : DEBUG :: Successfully parsed streamed data.
2024-12-19 10:04:54,195 : livef1 : DEBUG :: Data has been get in 4.925 seconds
2024-12-19 10:04:54,195 : livef1 : INFO :: Data is successfully received.
2024-12-19 10:04:54,200 : livef1 : DEBUG :: Using parser function for title: Position.z
2024-12-19 10:04:54,208 : livef1 : DEBUG :: Parsing successful for title: Position.z
2024-12-19 10:04:57,642 : livef1 : DEBUG :: Data has been parsed in 3.442 seconds
2024-12-19 10:04:57,648 : livef1 : INFO :: Data is successfully parsed.
C:\Users\EU10698\AppData\Local\Temp\ipykernel_14644\3887853734.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_pos["min"] = pd.to_datetime(df_pos["timestamp"]).dt.minute
C:\Users\EU10698\AppData\Local\Temp\ipykernel_14644\3887853734.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_pos["hour"] = pd.to_datetime(df_pos["timestamp"]).dt.hour
C:\Users\EU10698\AppData\Local\Temp\ipykernel_14644\3887853734.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_pos["sec"] = pd.to_datetime(df_pos["timestamp"]).dt.second

In [37]:
res = session.get_data(dataName="Car_Data")
df_car = pd.DataFrame(res.value)
df_car["min"] = pd.to_datetime(df_car["timestamp"]).dt.minute
df_car["hour"] = pd.to_datetime(df_car["timestamp"]).dt.hour
df_car["sec"] = pd.to_datetime(df_car["timestamp"]).dt.second

2024-12-19 10:04:36,369 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : CarData.z
2024-12-19 10:04:36,371 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/CarData.z.jsonStream
2024-12-19 10:04:38,889 : livef1 : DEBUG :: Successfully parsed streamed data.
2024-12-19 10:04:38,893 : livef1 : DEBUG :: Data has been get in 2.523 seconds
2024-12-19 10:04:38,893 : livef1 : INFO :: Data is successfully received.
2024-12-19 10:04:38,900 : livef1 : DEBUG :: Using parser function for title: CarData.z
2024-12-19 10:04:38,903 : livef1 : DEBUG :: Parsing successful for title: CarData.z
2024-12-19 10:04:44,150 : livef1 : DEBUG :: Data has been parsed in 5.251 seconds
2024-12-19 10:04:44,150 : livef1 : INFO :: Data is successfully parsed.
C:\Users\EU10698\AppData\Local\Temp\ipykernel_14644\949434661.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_car["min"] = pd.to_datetime(df_car["timestamp"]).dt.minute
C:\Users\EU10698\AppData\Local\Temp\ipykernel_14644\949434661.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_car["hour"] = pd.to_datetime(df_car["timestamp"]).dt.hour
C:\Users\EU10698\AppData\Local\Temp\ipykernel_14644\949434661.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_car["sec"] = pd.to_datetime(df_car["timestamp"]).dt.second

In [48]:
idx_cols = ["hour","min","sec","DriverNo"]
df = df_car.set_index(idx_cols).join(df_pos.set_index(idx_cols), rsuffix="_")

In [47]:
c = pd.to_datetime(df_car[(df_car["min"] == 2) & (df_car["hour"] == 0)].timestamp).unique()
p = pd.to_datetime(df_w[(df_w["min"] == 2) & (df_w["hour"] == 0) & (df_w["sec"] > 27)].timestamp).unique()

for i in c-p:
    print(i.total_seconds())

C:\Users\EU10698\AppData\Local\Temp\ipykernel_14644\4212679225.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  c = pd.to_datetime(df_car[(df_car["min"] == 2) & (df_car["hour"] == 0)].timestamp).unique()

ValueError: cannot add indices of unequal length

In [71]:
df_all = df.reset_index().set_index("timestamp").join(df_w.set_index("timestamp"), rsuffix="_w_", how="outer")

In [80]:
import numpy as np

cols = df_w.columns[2:]
df_all.loc[:,cols] = df_all.loc[:,cols].ffill()

In [83]:
df_all.dropna(subset="Channels").dtypes

hour             float64
min              float64
sec              float64
DriverNo          object
SessionKey       float64
Utc               object
Channels          object
SessionKey_      float64
timestamp_        object
Utc_              object
Status            object
X                float64
Y                float64
Z                float64
SessionKey_w_    float64
AirTemp           object
Humidity          object
Pressure          object
Rainfall          object
TrackTemp         object
WindDirection     object
WindSpeed         object
dtype: object

In [53]:
res = session.get_data(dataName="Weather_Data")
df_w = pd.DataFrame(res.value)

2024-12-19 10:18:08,631 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : WeatherData
2024-12-19 10:18:08,639 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/WeatherData.jsonStream
2024-12-19 10:18:09,392 : livef1 : DEBUG :: Successfully parsed streamed data.
2024-12-19 10:18:09,395 : livef1 : DEBUG :: Data has been get in 0.756 seconds
2024-12-19 10:18:09,396 : livef1 : INFO :: Data is successfully received.
2024-12-19 10:18:09,402 : livef1 : DEBUG :: Using parser function for title: WeatherData
2024-12-19 10:18:09,402 : livef1 : DEBUG :: Parsing successful for title: WeatherData
2024-12-19 10:18:09,402 : livef1 : DEBUG :: Data has been parsed in 0.0 seconds
2024-12-19 10:18:09,411 : livef1 : INFO :: Data is successfully parsed.

In [4]:
res = session.get_data(dataName="Track_Status")
df = pd.DataFrame(res.value)
# df["Utc"] = pd.to_datetime(df["Utc"])
# df["duration"] = df["Utc"] - df["Utc"].shift(1)
df

2024-12-18 14:04:31,772 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : TrackStatus
2024-12-18 14:04:31,774 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/TrackStatus.jsonStream
2024-12-18 14:04:32,567 : livef1 : DEBUG :: Successfully parsed streamed data.
2024-12-18 14:04:32,573 : livef1 : DEBUG :: Data has been get in 0.799 seconds
2024-12-18 14:04:32,577 : livef1 : INFO :: Data is successfully received.
2024-12-18 14:04:32,581 : livef1 : DEBUG :: Using parser function for title: TrackStatus
2024-12-18 14:04:32,584 : livef1 : DEBUG :: Parsing successful for title: TrackStatus
2024-12-18 14:04:32,590 : livef1 : DEBUG :: Data has been parsed in 0.009 seconds
2024-12-18 14:04:32,592 : livef1 : INFO :: Data is successfully parsed.

   SessionKey     timestamp Status   Message
0        9574  00:00:00.000      2    Yellow
1        9574  00:03:45.413      1  AllClear
2        9574  01:22:18.736      2    Yellow
3        9574  01:22:20.200      1  AllClear

In [11]:
res = session.get_data(dataName="Tyre_Stints")
df = pd.DataFrame(res.value)
df

2024-12-18 14:33:11,148 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : TyreStintSeries
2024-12-18 14:33:11,152 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/TyreStintSeries.jsonStream
2024-12-18 14:33:12,082 : livef1 : DEBUG :: Successfully parsed streamed data.
2024-12-18 14:33:12,084 : livef1 : DEBUG :: Data has been get in 0.933 seconds
2024-12-18 14:33:12,086 : livef1 : INFO :: Data is successfully received.
2024-12-18 14:33:12,089 : livef1 : DEBUG :: Using parser function for title: TyreStintSeries
2024-12-18 14:33:12,092 : livef1 : DEBUG :: Parsing successful for title: TyreStintSeries
2024-12-18 14:33:12,098 : livef1 : DEBUG :: Data has been parsed in 0.009 seconds
2024-12-18 14:33:12,100 : livef1 : INFO :: Data is successfully parsed.

,session_key,timestamp,DriverNo,PitCount,Compound,New,TyresNotChanged,TotalLaps,StartLaps
0,9574,00:48:25.685,14,0,MEDIUM,true,0,0.0,0.0
1,9574,00:48:30.766,10,0,MEDIUM,true,0,0.0,0.0
2,9574,00:48:30.766,18,0,HARD,true,0,0.0,0.0
3,9574,00:48:30.766,20,0,MEDIUM,true,0,0.0,0.0
4,9574,00:48:30.766,22,0,MEDIUM,true,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
904,9574,02:16:36.516,3,3,SOFT,true,0,0.0,0.0
905,9574,02:16:41.529,2,2,NaN,NaN,NaN,20.0,NaN
906,9574,02:16:41.529,27,2,NaN,NaN,NaN,24.0,NaN
907,9574,02:16:46.512,18,2,MEDIUM,true,0,0.0,0.0
908,9574,02:16:56.529,22,2,SOFT,true,0,0.0,0.0

In [12]:
df

,session_key,timestamp,DriverNo,PitCount,Compound,New,TyresNotChanged,TotalLaps,StartLaps
0,9574,00:48:25.685,14,0,MEDIUM,true,0,0.0,0.0
1,9574,00:48:30.766,10,0,MEDIUM,true,0,0.0,0.0
2,9574,00:48:30.766,18,0,HARD,true,0,0.0,0.0
3,9574,00:48:30.766,20,0,MEDIUM,true,0,0.0,0.0
4,9574,00:48:30.766,22,0,MEDIUM,true,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
904,9574,02:16:36.516,3,3,SOFT,true,0,0.0,0.0
905,9574,02:16:41.529,2,2,NaN,NaN,NaN,20.0,NaN
906,9574,02:16:41.529,27,2,NaN,NaN,NaN,24.0,NaN
907,9574,02:16:46.512,18,2,MEDIUM,true,0,0.0,0.0
908,9574,02:16:56.529,22,2,SOFT,true,0,0.0,0.0

In [14]:
res = session.get_data(dataName="Weather_Data")
df = pd.DataFrame(res.value)
df

2024-12-18 14:35:30,129 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : WeatherData
2024-12-18 14:35:30,130 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/WeatherData.jsonStream
2024-12-18 14:35:30,969 : livef1 : DEBUG :: Successfully parsed streamed data.
2024-12-18 14:35:30,972 : livef1 : DEBUG :: Data has been get in 0.842 seconds
2024-12-18 14:35:30,974 : livef1 : INFO :: Data is successfully received.
2024-12-18 14:35:30,977 : livef1 : DEBUG :: Using parser function for title: WeatherData
2024-12-18 14:35:30,980 : livef1 : DEBUG :: Parsing successful for title: WeatherData
2024-12-18 14:35:30,982 : livef1 : DEBUG :: Data has been parsed in 0.005 seconds
2024-12-18 14:35:30,984 : livef1 : INFO :: Data is successfully parsed.

,SessionKey,timestamp,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,9574,00:00:14.052,21.0,52.0,978.1,0,42.1,217,0.5
1,9574,00:01:14.050,20.6,53.0,978.0,0,42.1,0,1.1
2,9574,00:02:14.047,20.6,52.0,978.0,0,42.2,284,0.7
3,9574,00:03:14.053,20.7,51.0,978.1,0,42.0,244,1.4
4,9574,00:04:14.057,20.7,51.0,978.1,0,41.1,13,1.2
...,...,...,...,...,...,...,...,...,...
132,9574,02:12:14.511,21.6,48.0,978.0,0,42.3,343,1.2
133,9574,02:13:14.530,21.5,48.0,978.1,0,42.5,2,1.7
134,9574,02:14:14.523,21.4,48.0,978.0,0,42.6,8,1.6
135,9574,02:15:14.532,21.4,48.0,978.1,0,42.9,352,1.9
136,9574,02:16:14.544,21.4,46.0,978.1,0,42.9,322,1.5

In [9]:
from livef1.adapters.livetimingf1_adapter import livetimingF1_getdata

data = livetimingF1_getdata("https://livetiming.formula1.com/static/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/PitLaneTimeCollection.jsonStream", stream=True)
data

for key, value in data.items():
    if "_deleted" in value["PitTimes"].keys():
        for deleted_driver in value["PitTimes"]["_deleted"]:
            record = {
                "session_key": 0,
                "timestamp": key,
                "_deleted": deleted_driver
            }
            print(record)
            
    else:
        for driver_no, info in value["PitTimes"].items():
            print(info)
            record = {
                "session_key": 0,
                "timestamp": key,
                **info
            }
            print(record)
    
    print("----------")

2024-12-18 16:28:10,922 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/PitLaneTimeCollection.jsonStream
2024-12-18 16:28:11,722 : livef1 : DEBUG :: Successfully parsed streamed data.

{'RacingNumber': '27', 'Duration': '23.5', 'Lap': '7'}
{'session_key': 0, 'timestamp': '01:08:46.647', 'RacingNumber': '27', 'Duration': '23.5', 'Lap': '7'}
----------
{'session_key': 0, 'timestamp': '01:09:13.025', '_deleted': '27'}
----------
{'RacingNumber': '23', 'Duration': '23.6', 'Lap': '8'}
{'session_key': 0, 'timestamp': '01:10:32.083', 'RacingNumber': '23', 'Duration': '23.6', 'Lap': '8'}
----------
{'RacingNumber': '3', 'Duration': '22.6', 'Lap': '8'}
{'session_key': 0, 'timestamp': '01:10:34.930', 'RacingNumber': '3', 'Duration': '22.6', 'Lap': '8'}
----------
{'RacingNumber': '2', 'Duration': '23.3', 'Lap': '8'}
{'session_key': 0, 'timestamp': '01:10:41.051', 'RacingNumber': '2', 'Duration': '23.3', 'Lap': '8'}
----------
{'session_key': 0, 'timestamp': '01:10:58.533', '_deleted': '23'}
----------
{'session_key': 0, 'timestamp': '01:11:01.381', '_deleted': '3'}
----------
{'session_key': 0, 'timestamp': '01:11:07.621', '_deleted': '2'}
----------
{'RacingNumber': '10', 'Duration': '22.9', 'Lap': '9'}
{'session_key': 0, 'timestamp': '01:12:25.407', 'RacingNumber': '10', 'Duration': '22.9', 'Lap': '9'}
----------
{'session_key': 0, 'timestamp': '01:12:51.966', '_deleted': '10'}
----------
{'RacingNumber': '63', 'Duration': '22.6', 'Lap': '10'}
{'session_key': 0, 'timestamp': '01:14:04.589', 'RacingNumber': '63', 'Duration': '22.6', 'Lap': '10'}
----------
{'RacingNumber': '1', 'Duration': '23.2', 'Lap': '10'}
{'session_key': 0, 'timestamp': '01:14:07.432', 'RacingNumber': '1', 'Duration': '23.2', 'Lap': '10'}
----------
{'session_key': 0, 'timestamp': '01:14:30.693', '_deleted': '63'}
----------
{'session_key': 0, 'timestamp': '01:14:33.711', '_deleted': '1'}
----------
{'RacingNumber': '44', 'Duration': '23.1', 'Lap': '11'}
{'session_key': 0, 'timestamp': '01:15:47.745', 'RacingNumber': '44', 'Duration': '23.1', 'Lap': '11'}
----------
{'RacingNumber': '11', 'Duration': '22.6', 'Lap': '11'}
{'session_key': 0, 'timestamp': '01:15:52.088', 'RacingNumber': '11', 'Duration': '22.6', 'Lap': '11'}
----------
{'RacingNumber': '81', 'Duration': '22.6', 'Lap': '11'}
{'session_key': 0, 'timestamp': '01:15:53.197', 'RacingNumber': '81', 'Duration': '22.6', 'Lap': '11'}
----------
{'RacingNumber': '77', 'Duration': '23.1', 'Lap': '11'}
{'session_key': 0, 'timestamp': '01:16:07.978', 'RacingNumber': '77', 'Duration': '23.1', 'Lap': '11'}
----------
{'session_key': 0, 'timestamp': '01:16:14.434', '_deleted': '44'}
----------
{'session_key': 0, 'timestamp': '01:16:18.372', '_deleted': '11'}
----------
{'session_key': 0, 'timestamp': '01:16:19.203', '_deleted': '81'}
----------
{'session_key': 0, 'timestamp': '01:16:34.349', '_deleted': '77'}
----------
{'RacingNumber': '16', 'Duration': '22.9', 'Lap': '12'}
{'session_key': 0, 'timestamp': '01:17:39.779', 'RacingNumber': '16', 'Duration': '22.9', 'Lap': '12'}
----------
{'RacingNumber': '31', 'Duration': '23.3', 'Lap': '12'}
{'session_key': 0, 'timestamp': '01:17:57.426', 'RacingNumber': '31', 'Duration': '23.3', 'Lap': '12'}
----------
{'RacingNumber': '18', 'Duration': '23.0', 'Lap': '12'}
{'session_key': 0, 'timestamp': '01:18:00.752', 'RacingNumber': '18', 'Duration': '23.0', 'Lap': '12'}
----------
{'session_key': 0, 'timestamp': '01:18:06.058', '_deleted': '16'}
----------
{'session_key': 0, 'timestamp': '01:18:23.619', '_deleted': '31'}
----------
{'session_key': 0, 'timestamp': '01:18:26.712', '_deleted': '18'}
----------
{'RacingNumber': '14', 'Duration': '23.0', 'Lap': '13'}
{'session_key': 0, 'timestamp': '01:19:44.425', 'RacingNumber': '14', 'Duration': '23.0', 'Lap': '13'}
----------
{'session_key': 0, 'timestamp': '01:20:10.590', '_deleted': '14'}
----------
{'RacingNumber': '4', 'Duration': '22.6', 'Lap': '15'}
{'session_key': 0, 'timestamp': '01:23:14.996', 'RacingNumber': '4', 'Duration': '22.6', 'Lap': '15'}
----------
{'session_key': 0, 'timestamp': '01:23:41.435', '_deleted': '4'}
----------
{'RacingNumber': '22', 'Duration': '23.4', 'Lap': '15'}
{'session_key': 0, 'timestamp': '01:23:41.744', 'RacingNumber': '22', 'Duration': '23.4', 'Lap': '15'}
----------
{'session_key': 0, 'timestamp': '01:24:08.711', '_deleted': '22'}
----------
{'RacingNumber': '20', 'Duration': '23.6', 'Lap': '17'}
{'session_key': 0, 'timestamp': '01:27:19.072', 'RacingNumber': '20', 'Duration': '23.6', 'Lap': '17'}
----------
{'session_key': 0, 'timestamp': '01:27:45.421', '_deleted': '20'}
----------
{'RacingNumber': '55', 'Duration': '23.0', 'Lap': '20'}
{'session_key': 0, 'timestamp': '01:32:19.217', 'RacingNumber': '55', 'Duration': '23.0', 'Lap': '20'}
----------
{'session_key': 0, 'timestamp': '01:32:45.870', '_deleted': '55'}
----------
{'RacingNumber': '27', 'Duration': '23.2', 'Lap': '20'}
{'session_key': 0, 'timestamp': '01:32:58.293', 'RacingNumber': '27', 'Duration': '23.2', 'Lap': '20'}
----------
{'session_key': 0, 'timestamp': '01:33:24.446', '_deleted': '27'}
----------
{'RacingNumber': '11', 'Duration': '22.6', 'Lap': '21'}
{'session_key': 0, 'timestamp': '01:34:19.902', 'RacingNumber': '11', 'Duration': '22.6', 'Lap': '21'}
----------
{'RacingNumber': '3', 'Duration': '22.3', 'Lap': '21'}
{'session_key': 0, 'timestamp': '01:34:40.228', 'RacingNumber': '3', 'Duration': '22.3', 'Lap': '21'}
----------
{'session_key': 0, 'timestamp': '01:34:46.705', '_deleted': '11'}
----------
{'session_key': 0, 'timestamp': '01:35:06.269', '_deleted': '3'}
----------
{'RacingNumber': '23', 'Duration': '23.1', 'Lap': '23'}
{'session_key': 0, 'timestamp': '01:38:19.935', 'RacingNumber': '23', 'Duration': '23.1', 'Lap': '23'}
----------
{'session_key': 0, 'timestamp': '01:38:46.201', '_deleted': '23'}
----------
{'RacingNumber': '2', 'Duration': '23.6', 'Lap': '24'}
{'session_key': 0, 'timestamp': '01:40:32.646', 'RacingNumber': '2', 'Duration': '23.6', 'Lap': '24'}
----------
{'session_key': 0, 'timestamp': '01:40:59.369', '_deleted': '2'}
----------
{'RacingNumber': '16', 'Duration': '23.3', 'Lap': '25'}
{'session_key': 0, 'timestamp': '01:41:25.254', 'RacingNumber': '16', 'Duration': '23.3', 'Lap': '25'}
----------
{'session_key': 0, 'timestamp': '01:41:51.997', '_deleted': '16'}
----------
{'RacingNumber': '44', 'Duration': '22.7', 'Lap': '26'}
{'session_key': 0, 'timestamp': '01:43:09.776', 'RacingNumber': '44', 'Duration': '22.7', 'Lap': '26'}
----------
{'session_key': 0, 'timestamp': '01:43:36.289', '_deleted': '44'}
----------
{'RacingNumber': '1', 'Duration': '22.9', 'Lap': '28'}
{'session_key': 0, 'timestamp': '01:46:56.244', 'RacingNumber': '1', 'Duration': '22.9', 'Lap': '28'}
----------
{'RacingNumber': '55', 'Duration': '23.0', 'Lap': '28'}
{'session_key': 0, 'timestamp': '01:47:02.971', 'RacingNumber': '55', 'Duration': '23.0', 'Lap': '28'}
----------
{'session_key': 0, 'timestamp': '01:47:22.536', '_deleted': '1'}
----------
{'session_key': 0, 'timestamp': '01:47:29.389', '_deleted': '55'}
----------
{'RacingNumber': '10', 'Duration': '22.8', 'Lap': '28'}
{'session_key': 0, 'timestamp': '01:47:31.372', 'RacingNumber': '10', 'Duration': '22.8', 'Lap': '28'}
----------
{'session_key': 0, 'timestamp': '01:47:58.012', '_deleted': '10'}
----------
{'RacingNumber': '4', 'Duration': '22.6', 'Lap': '29'}
{'session_key': 0, 'timestamp': '01:48:44.394', 'RacingNumber': '4', 'Duration': '22.6', 'Lap': '29'}
----------
{'session_key': 0, 'timestamp': '01:49:10.376', '_deleted': '4'}
----------
{'RacingNumber': '81', 'Duration': '24.1', 'Lap': '30'}
{'session_key': 0, 'timestamp': '01:50:25.669', 'RacingNumber': '81', 'Duration': '24.1', 'Lap': '30'}
----------
{'session_key': 0, 'timestamp': '01:50:51.867', '_deleted': '81'}
----------
{'RacingNumber': '31', 'Duration': '23.5', 'Lap': '30'}
{'session_key': 0, 'timestamp': '01:51:00.871', 'RacingNumber': '31', 'Duration': '23.5', 'Lap': '30'}
----------
{'session_key': 0, 'timestamp': '01:51:26.791', '_deleted': '31'}
----------
{'RacingNumber': '77', 'Duration': '22.9', 'Lap': '35'}
{'session_key': 0, 'timestamp': '02:00:16.745', 'RacingNumber': '77', 'Duration': '22.9', 'Lap': '35'}
----------
{'session_key': 0, 'timestamp': '02:00:43.044', '_deleted': '77'}
----------
{'RacingNumber': '11', 'Duration': '22.6', 'Lap': '42'}
{'session_key': 0, 'timestamp': '02:12:25.875', 'RacingNumber': '11', 'Duration': '22.6', 'Lap': '42'}
----------
{'session_key': 0, 'timestamp': '02:12:53.103', '_deleted': '11'}
----------

In [10]:
res = session.get_data(dataName="Pit_Lane_Times")
df = pd.DataFrame(res.value)
df

2024-12-19 09:45:39,708 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : PitLaneTimeCollection
2024-12-19 09:45:39,741 : livef1 : DEBUG :: Sending GET request to URL: https://livetiming.formula1.com/static/2024/2024-07-28_Belgian_Grand_Prix/2024-07-28_Race/PitLaneTimeCollection.jsonStream
2024-12-19 09:45:40,799 : livef1 : DEBUG :: Successfully parsed streamed data.
2024-12-19 09:45:40,802 : livef1 : DEBUG :: Data has been get in 1.071 seconds
2024-12-19 09:45:40,809 : livef1 : INFO :: Data is successfully received.
2024-12-19 09:45:40,812 : livef1 : DEBUG :: Using parser function for title: PitLaneTimeCollection
2024-12-19 09:45:40,816 : livef1 : DEBUG :: Parsing successful for title: PitLaneTimeCollection
2024-12-19 09:45:40,818 : livef1 : DEBUG :: Data has been parsed in 0.006 seconds
2024-12-19 09:45:40,821 : livef1 : INFO :: Data is successfully parsed.

,session_key,timestamp,27,_deleted,23,3,2,10,63,1,...,81,77,16,31,18,14,4,22,20,55
0,9574,01:08:46.647,"{'RacingNumber': '27', 'Duration': '23.5', 'La...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9574,01:09:13.025,NaN,[27],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9574,01:10:32.083,NaN,NaN,"{'RacingNumber': '23', 'Duration': '23.6', 'La...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9574,01:10:34.930,NaN,NaN,NaN,"{'RacingNumber': '3', 'Duration': '22.6', 'Lap...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9574,01:10:41.051,NaN,NaN,NaN,NaN,"{'RacingNumber': '2', 'Duration': '23.3', 'Lap...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,9574,01:51:26.791,NaN,[31],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,9574,02:00:16.745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"{'RacingNumber': '77', 'Duration': '22.9', 'La...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,9574,02:00:43.044,NaN,[77],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,9574,02:12:25.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,9574,02:12:53.103,NaN,[11],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
import fastf1

session = fastf1.get_session(2024, 'Belgian', 'Race')
session.load()

core           INFO 	Loading data for Belgian Grand Prix - Race [v3.4.4]
req            INFO 	No cached data found for session_info. Loading data...
_api           INFO 	Fetching session info data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for driver_info. Loading data...
_api           INFO 	Fetching driver list...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for session_status_data. Loading data...
_api           INFO 	Fetching session status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for lap_count. Loading data...
_api           INFO 	Fetching lap count data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for track_status_data. Loading data...
_api           INFO 	Fetching track status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for _extended_timing_data. Loading data...
_api           INFO 	Fetching timing data...
_api           INFO 	Parsing timing data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for timing_app_data. Loading data...
_api           INFO 	Fetching timing app data...
req            INFO 	Data has been written to cache!
core           INFO 	Processing timing data...
req            INFO 	No cached data found for car_data. Loading data...
_api           INFO 	Fetching car data...
_api           INFO 	Parsing car data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for position_data. Loading data...
_api           INFO 	Fetching position data...
_api           INFO 	Parsing position data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for weather_data. Loading data...
_api           INFO 	Fetching weather data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for race_control_messages. Loading data...
_api           INFO 	Fetching race control messages...
req            INFO 	Data has been written to cache!
core           INFO 	Finished loading data for 20 drivers: ['44', '81', '16', '1', '4', '55', '11', '14', '31', '3', '18', '23', '10', '20', '77', '22', '2', '27', '24', '63']

In [24]:
help(session)

Help on Session in module fastf1.core object:

class Session(builtins.object)
 |  Session(event, session_name, f1_api_support=False)
 |
 |  Object for accessing session specific data.
 |
 |  The session class will usually be your starting point. This object will
 |  have various information about the session.
 |
 |  .. note:: Most of the data is only available after calling
 |      :func:`Session.load`
 |
 |  Methods defined here:
 |
 |  __init__(self, event, session_name, f1_api_support=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  get_circuit_info(self) -> Optional[fastf1.mvapi.data.CircuitInfo]
 |      Returns additional information about the circuit that hosts this
 |      event.
 |
 |      This information includes the location of corners, marshal lights,
 |      marshal sectors and the rotation of the track map. Note that the data
 |      is manually created and therefore not highly accurate, but it is useful
 |      for annotating data visualizations.
 |
 |      See :class:`~fastf1.mvapi.CircuitInfo` for detailed information.
 |
 |  get_driver(self, identifier) -> 'DriverResult'
 |      Get a driver object which contains additional information about a
 |      driver.
 |
 |      Args:
 |          identifier (str): driver's three letter identifier (for
 |              example 'VER') or driver number as string
 |
 |      Returns:
 |          instance of :class:`DriverResult`
 |
 |  load(self, *, laps: bool = True, telemetry: bool = True, weather: bool = True, messages: bool = True, livedata: fastf1.livetiming.data.LiveTimingData = None)
 |      Load session data from the supported APIs.
 |
 |      This method allows to flexibly load some or all data that FastF1 can
 |      give you access to. Without specifying any further options, all data
 |      is loaded by default.
 |
 |      Usually, it is recommended to load all available data because
 |      internally FastF1 partially mixes data from multiple endpoints and
 |      data sources to correct for errors or to add more information. These
 |      features are optional and may not work when some data is unavailable.
 |      In these cases, FastF1 will return the data to the best of its
 |      abilities.
 |
 |      .. note:: **Lap data: drivers crashing and retiring**
 |
 |          *During a session:*
 |          An additional last lap is added for a driver if the last timed
 |          lap of a driver is not an inlap and the session is aborted next.
 |          The `Time` for when this lap was "set" will be set to the time at
 |          which the session was aborted.
 |
 |          *First lap in a race:*
 |          A single lap with minimal information will be added in race
 |          sessions if a driver does not complete at least one timed lap.
 |          The `LapStartTime` for this lap will be set to the start time
 |          of the session as with all other laps in a race. The `Time` at
 |          which this lap was "set" will be set to the time at which the
 |          first driver completes their first lap.
 |
 |
 |      .. note:: Absolute time is not super accurate. The moment a lap
 |          is logged is not always the same and there will be some
 |          jitter. At the moment lap time reference is synchronised
 |          on the sector time triggered with lowest latency.
 |          Expect an error of around Â±10m when overlapping telemetry
 |          data of different laps.
 |
 |      Args:
 |          laps: Load laps and session status data.
 |          telemetry: Load telemetry data.
 |          weather: Load weather data.
 |          messages: Load race control messages for the session
 |          livedata: instead of requesting the data from the api, locally
 |              saved livetiming data can be used as a data source
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  car_data
 |      Dictionary of car telemetry (Speed, RPM, etc.) as received from
 |      the api by car number (where car number is a string and the telemetry
 |      is an instance of :class:`Telemetry`)
 |
 |      Data is available after calling `Session.load` with ``telemetry=True``
 |
 |  drivers
 |      :class:`list`: List of all drivers that took part in this
 |      session; contains driver numbers as string.
 |
 |      Data is available after calling `Session.load`
 |
 |  laps
 |      :class:`Laps`: All laps from all drivers driven in this session.
 |
 |      Data is available after calling `Session.load` with ``laps=True``
 |
 |  pos_data
 |      Dictionary of car position data as received from the api by car
 |      number (where car number is a string and the telemetry
 |      is an instance of :class:`Telemetry`)
 |
 |      Data is available after calling `Session.load` with ``telemetry=True``
 |
 |  race_control_messages
 |      :class:`pandas.Dataframe`: Race Control messages as returned by
 |      :func:`fastf1.api.race_control_messages`
 |
 |      Data is available after calling `Session.load` with ``messages=True``
 |
 |  results
 |      :class:`SessionResults`: Session result with driver information.
 |
 |      Data is available after calling `Session.load`
 |
 |  session_info
 |      Session information including meeting, session, country and circuit
 |      names and id keys.
 |
 |      The id keys are unique identifiers that are used by the F1 APIs.
 |
 |      (This property holds the data that is returned by the "SessionInfo"
 |      endpoint of the F1 livetiming API.)
 |
 |  session_start_time
 |      :class:`pandas.Timedelta`: Session time at which the session was
 |      started according to the session status data. This is not the
 |      time at which the session is scheduled to be started!
 |
 |      Data is available after calling `Session.load` with ``laps=True``
 |
 |  session_status
 |      :class:`pandas.Dataframe`: Session status data as returned by
 |      :func:`fastf1.api.session_status_data`
 |
 |      Data is available after calling `Session.load` with ``laps=True``
 |
 |  t0_date
 |      :class:`pandas.Datetime`: Date timestamp which marks the beginning
 |      of the data stream (the moment at which the session time is zero).
 |
 |      Data is available after calling `Session.load` with ``telemetry=True``
 |
 |  total_laps
 |      :class:`int`: Originally scheduled number of laps for race-like
 |      sessions such as Race and Sprint. It takes None as a default value
 |      for other types of sessions or if data is unavailable
 |
 |      Data is available after calling `Session.load` with ``laps=True``
 |
 |  track_status
 |      :class:`pandas.Dataframe`: Track status data as returned by
 |      :func:`fastf1.api.track_status_data`
 |
 |      Data is available after calling `Session.load` with ``laps=True``
 |
 |  weather_data
 |      Dataframe containing weather data for this session as received
 |      from the api. See :func:`fastf1.api.weather_data` for available data
 |      channels. Each data channel is one row of the dataframe.
 |
 |      Data is available after calling `Session.load` with ``weather=True``
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [54]:
session.weather_data

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:14.052000,21.0,52.0,978.1,False,42.1,217,0.5
1,0 days 00:01:14.050000,20.6,53.0,978.0,False,42.1,0,1.1
2,0 days 00:02:14.047000,20.6,52.0,978.0,False,42.2,284,0.7
3,0 days 00:03:14.053000,20.7,51.0,978.1,False,42.0,244,1.4
4,0 days 00:04:14.057000,20.7,51.0,978.1,False,41.1,13,1.2
...,...,...,...,...,...,...,...,...
132,0 days 02:12:14.511000,21.6,48.0,978.0,False,42.3,343,1.2
133,0 days 02:13:14.530000,21.5,48.0,978.1,False,42.5,2,1.7
134,0 days 02:14:14.523000,21.4,48.0,978.0,False,42.6,8,1.6
135,0 days 02:15:14.532000,21.4,48.0,978.1,False,42.9,352,1.9
136,0 days 02:16:14.544000,21.4,46.0,978.1,False,42.9,322,1.5

In [40]:
session.laps

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 00:57:07.801000,HAM,44,0 days 00:01:52.700000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:49.406000,...,True,Mercedes,0 days 00:55:14.764000,2024-07-28 13:03:52.742,1,2.0,False,,False,False
1,0 days 00:58:57.650000,HAM,44,0 days 00:01:49.849000,2.0,1.0,NaT,NaT,0 days 00:00:31.284000,0 days 00:00:49.211000,...,True,Mercedes,0 days 00:57:07.801000,2024-07-28 13:05:45.779,1,2.0,False,,False,True
2,0 days 01:00:46.759000,HAM,44,0 days 00:01:49.109000,3.0,1.0,NaT,NaT,0 days 00:00:31.215000,0 days 00:00:48.486000,...,True,Mercedes,0 days 00:58:57.650000,2024-07-28 13:07:35.628,1,1.0,False,,False,True
3,0 days 01:02:36.567000,HAM,44,0 days 00:01:49.808000,4.0,1.0,NaT,NaT,0 days 00:00:31.754000,0 days 00:00:48.605000,...,True,Mercedes,0 days 01:00:46.759000,2024-07-28 13:09:24.737,1,1.0,False,,False,True
4,0 days 01:04:25.943000,HAM,44,0 days 00:01:49.376000,5.0,1.0,NaT,NaT,0 days 00:00:31.592000,0 days 00:00:48.320000,...,True,Mercedes,0 days 01:02:36.567000,2024-07-28 13:11:14.545,1,1.0,False,,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0 days 02:08:02.508000,RUS,63,0 days 00:01:47.631000,40.0,2.0,NaT,NaT,0 days 00:00:30.989000,0 days 00:00:47.555000,...,True,Mercedes,0 days 02:06:14.877000,2024-07-28 14:14:52.855,1,1.0,False,,False,True
837,0 days 02:09:50.262000,RUS,63,0 days 00:01:47.754000,41.0,2.0,NaT,NaT,0 days 00:00:30.926000,0 days 00:00:47.796000,...,True,Mercedes,0 days 02:08:02.508000,2024-07-28 14:16:40.486,1,1.0,False,,False,True
838,0 days 02:11:37.727000,RUS,63,0 days 00:01:47.465000,42.0,2.0,NaT,NaT,0 days 00:00:31.014000,0 days 00:00:47.525000,...,True,Mercedes,0 days 02:09:50.262000,2024-07-28 14:18:28.240,1,1.0,False,,False,True
839,0 days 02:13:25.028000,RUS,63,0 days 00:01:47.301000,43.0,2.0,NaT,NaT,0 days 00:00:30.990000,0 days 00:00:47.479000,...,True,Mercedes,0 days 02:11:37.727000,2024-07-28 14:20:15.705,1,1.0,False,,False,True
840,0 days 02:15:12.141000,RUS,63,0 days 00:01:47.113000,44.0,2.0,NaT,NaT,0 days 00:00:30.990000,0 days 00:00:47.172000,...,True,Mercedes,0 days 02:13:25.028000,2024-07-28 14:22:03.006,1,1.0,False,,False,True

In [47]:
session.pos_data["1"]

,Date,Status,X,Y,Z,Source,Time,SessionTime
0,2024-07-28 12:10:22.788,OnTrack,0,0,0,pos,0 days 00:01:44.810000,0 days 00:01:44.810000
1,2024-07-28 12:10:23.108,OnTrack,0,0,0,pos,0 days 00:01:45.130000,0 days 00:01:45.130000
2,2024-07-28 12:10:23.308,OnTrack,0,0,0,pos,0 days 00:01:45.330000,0 days 00:01:45.330000
3,2024-07-28 12:10:23.548,OnTrack,0,0,0,pos,0 days 00:01:45.570000,0 days 00:01:45.570000
4,2024-07-28 12:10:23.928,OnTrack,0,0,0,pos,0 days 00:01:45.950000,0 days 00:01:45.950000
...,...,...,...,...,...,...,...,...
31246,2024-07-28 14:25:44.210,OnTrack,1862,1621,4142,pos,0 days 02:17:06.232000,0 days 02:17:06.232000
31247,2024-07-28 14:25:44.410,OnTrack,1862,1621,4142,pos,0 days 02:17:06.432000,0 days 02:17:06.432000
31248,2024-07-28 14:25:44.710,OnTrack,1862,1621,4142,pos,0 days 02:17:06.732000,0 days 02:17:06.732000
31249,2024-07-28 14:25:44.870,OnTrack,1862,1621,4142,pos,0 days 02:17:06.892000,0 days 02:17:06.892000
31250,2024-07-28 14:25:45.330,OnTrack,1862,1621,4142,pos,0 days 02:17:07.352000,0 days 02:17:07.352000

In [37]:
session.race_control_messages

,Time,Category,Message,Status,Flag,Scope,Sector,RacingNumber,Lap
0,2024-07-27 13:46:34,Other,CHANGE IN CLIMATIC CONDITIONS,None,None,None,NaN,None,None
1,2024-07-27 13:47:10,Other,WET TRACK,None,None,None,NaN,None,None
2,2024-07-27 13:47:13,Other,LOW GRIP CONDITIONS,None,None,None,NaN,None,None
3,2024-07-27 13:59:01,Drs,DRS DISABLED,DISABLED,None,None,NaN,None,None
4,2024-07-27 14:00:00,Flag,GREEN LIGHT - PIT EXIT OPEN,None,GREEN,Track,NaN,None,None
5,2024-07-27 14:16:11,Other,TURN 18 INCIDENT INVOLVING CARS 24 (ZHO) AND 1...,None,None,None,NaN,None,None
6,2024-07-27 14:17:11,Other,FIA STEWARDS: TURN 18 INCIDENT INVOLVING CARS ...,None,None,None,NaN,None,None
7,2024-07-27 14:18:00,Flag,CHEQUERED FLAG,None,CHEQUERED,Track,NaN,None,None
8,2024-07-27 14:18:01,Other,CAR 2 (SAR) TIME 2:41.426 DELETED - TRACK LIMI...,None,None,None,NaN,None,None
9,2024-07-27 14:18:10,Other,FIRST CAR TO TAKE THE FLAG - CAR 81 (PIA),None,None,None,NaN,None,None
10,2024-07-27 14:19:57,Other,CAR 24 (ZHO) TIME 2:00.502 DELETED - TRACK LIM...,None,None,None,NaN,None,None
11,2024-07-27 14:25:00,Flag,GREEN LIGHT - PIT EXIT OPEN,None,GREEN,Track,NaN,None,None
12,2024-07-27 14:40:00,Flag,CHEQUERED FLAG,None,CHEQUERED,Track,NaN,None,None
13,2024-07-27 14:40:09,Other,FIRST CAR TO TAKE THE FLAG - CAR 31 (OCO),None,None,None,NaN,None,None
14,2024-07-27 14:48:00,Flag,GREEN LIGHT - PIT EXIT OPEN,None,GREEN,Track,NaN,None,None
15,2024-07-27 15:00:00,Flag,CHEQUERED FLAG,None,CHEQUERED,Track,NaN,None,None
16,2024-07-27 15:00:27,Other,FIRST CAR TO TAKE THE FLAG - CAR 55 (SAI),None,None,None,NaN,None,None
17,2024-07-27 15:05:36,Flag,DOUBLE YELLOW IN TRACK SECTOR 17,None,DOUBLE YELLOW,Sector,17.0,None,None
18,2024-07-27 15:05:39,Flag,DOUBLE YELLOW IN TRACK SECTOR 7,None,DOUBLE YELLOW,Sector,7.0,None,None
19,2024-07-27 15:05:40,Flag,YELLOW IN TRACK SECTOR 13,None,YELLOW,Sector,13.0,None,None
20,2024-07-27 15:05:55,Flag,DOUBLE YELLOW IN TRACK SECTOR 16,None,DOUBLE YELLOW,Sector,16.0,None,None
21,2024-07-27 15:06:12,Flag,DOUBLE YELLOW IN TRACK SECTOR 15,None,DOUBLE YELLOW,Sector,15.0,None,None
22,2024-07-27 15:06:16,Flag,DOUBLE YELLOW IN TRACK SECTOR 13,None,DOUBLE YELLOW,Sector,13.0,None,None
23,2024-07-27 15:06:38,Flag,DOUBLE YELLOW IN TRACK SECTOR 8,None,DOUBLE YELLOW,Sector,8.0,None,None
24,2024-07-27 15:07:45,Flag,DOUBLE YELLOW IN TRACK SECTOR 10,None,DOUBLE YELLOW,Sector,10.0,None,None
25,2024-07-27 15:07:54,Flag,CLEAR IN TRACK SECTOR 8,None,CLEAR,Sector,8.0,None,None
26,2024-07-27 15:08:48,Flag,CLEAR IN TRACK SECTOR 10,None,CLEAR,Sector,10.0,None,None
27,2024-07-27 15:08:57,Flag,DOUBLE YELLOW IN TRACK SECTOR 12,None,DOUBLE YELLOW,Sector,12.0,None,None
28,2024-07-27 15:10:40,Flag,DOUBLE YELLOW IN TRACK SECTOR 4,None,DOUBLE YELLOW,Sector,4.0,None,None
29,2024-07-27 15:10:40,Flag,DOUBLE YELLOW IN TRACK SECTOR 5,None,DOUBLE YELLOW,Sector,5.0,None,None
30,2024-07-27 15:10:40,Flag,DOUBLE YELLOW IN TRACK SECTOR 6,None,DOUBLE YELLOW,Sector,6.0,None,None
31,2024-07-27 15:11:14,Flag,CLEAR IN TRACK SECTOR 4,None,CLEAR,Sector,4.0,None,None
32,2024-07-27 15:11:14,Flag,CLEAR IN TRACK SECTOR 5,None,CLEAR,Sector,5.0,None,None
33,2024-07-27 15:11:14,Flag,CLEAR IN TRACK SECTOR 6,None,CLEAR,Sector,6.0,None,None
34,2024-07-27 15:12:16,Flag,CLEAR IN TRACK SECTOR 7,None,CLEAR,Sector,7.0,None,None
35,2024-07-27 15:12:28,Flag,DOUBLE YELLOW IN TRACK SECTOR 19,None,DOUBLE YELLOW,Sector,19.0,None,None
36,2024-07-27 15:12:39,Flag,CLEAR IN TRACK SECTOR 12,None,CLEAR,Sector,12.0,None,None
37,2024-07-27 15:12:43,Flag,CLEAR IN TRACK SECTOR 16,None,CLEAR,Sector,16.0,None,None
38,2024-07-27 15:12:56,Flag,CLEAR IN TRACK SECTOR 19,None,CLEAR,Sector,19.0,None,None
39,2024-07-27 15:12:56,Flag,DOUBLE YELLOW IN TRACK SECTOR 20,None,DOUBLE YELLOW,Sector,20.0,None,None
40,2024-07-27 15:13:07,Flag,CLEAR IN TRACK SECTOR 15,None,CLEAR,Sector,15.0,None,None
41,2024-07-27 15:13:12,Flag,CLEAR IN TRACK SECTOR 13,None,CLEAR,Sector,13.0,None,None
42,2024-07-27 15:13:12,Flag,DOUBLE YELLOW IN TRACK SECTOR 21,None,DOUBLE YELLOW,Sector,21.0,None,None
43,2024-07-27 15:13:15,Flag,CLEAR IN TRACK SECTOR 20,None,CLEAR,Sector,20.0,None,None

In [38]:
session.results

,DriverNumber,BroadcastName,Abbreviation,DriverId,TeamName,TeamColor,TeamId,FirstName,LastName,FullName,...,CountryCode,Position,ClassifiedPosition,GridPosition,Q1,Q2,Q3,Time,Status,Points
1,1,M VERSTAPPEN,VER,max_verstappen,Red Bull Racing,3671C6,red_bull,Max,Verstappen,Max Verstappen,...,NED,1.0,,NaN,0 days 00:01:54.938000,0 days 00:01:53.837000,0 days 00:01:53.159000,NaT,,NaN
16,16,C LECLERC,LEC,leclerc,Ferrari,E80020,ferrari,Charles,Leclerc,Charles Leclerc,...,MON,2.0,,NaN,0 days 00:01:55.349000,0 days 00:01:54.193000,0 days 00:01:53.754000,NaT,,NaN
11,11,S PEREZ,PER,perez,Red Bull Racing,3671C6,red_bull,Sergio,Perez,Sergio Perez,...,MEX,3.0,,NaN,0 days 00:01:55.139000,0 days 00:01:54.470000,0 days 00:01:53.765000,NaT,,NaN
44,44,L HAMILTON,HAM,hamilton,Mercedes,27F4D2,mercedes,Lewis,Hamilton,Lewis Hamilton,...,GBR,4.0,,NaN,0 days 00:01:55.692000,0 days 00:01:54.037000,0 days 00:01:53.835000,NaT,,NaN
4,4,L NORRIS,NOR,norris,McLaren,FF8000,mclaren,Lando,Norris,Lando Norris,...,GBR,5.0,,NaN,0 days 00:01:55.582000,0 days 00:01:54.358000,0 days 00:01:53.981000,NaT,,NaN
81,81,O PIASTRI,PIA,piastri,McLaren,FF8000,mclaren,Oscar,Piastri,Oscar Piastri,...,AUS,6.0,,NaN,0 days 00:01:54.835000,0 days 00:01:54.136000,0 days 00:01:54.027000,NaT,,NaN
63,63,G RUSSELL,RUS,russell,Mercedes,27F4D2,mercedes,George,Russell,George Russell,...,GBR,7.0,,NaN,0 days 00:01:55.353000,0 days 00:01:54.095000,0 days 00:01:54.184000,NaT,,NaN
55,55,C SAINZ,SAI,sainz,Ferrari,E80020,ferrari,Carlos,Sainz,Carlos Sainz,...,ESP,8.0,,NaN,0 days 00:01:55.169000,0 days 00:01:54.112000,0 days 00:01:54.477000,NaT,,NaN
14,14,F ALONSO,ALO,alonso,Aston Martin,229971,aston_martin,Fernando,Alonso,Fernando Alonso,...,ESP,9.0,,NaN,0 days 00:01:55.489000,0 days 00:01:54.258000,0 days 00:01:54.765000,NaT,,NaN
31,31,E OCON,OCO,ocon,Alpine,0093cc,alpine,Esteban,Ocon,Esteban Ocon,...,FRA,10.0,,NaN,0 days 00:01:55.417000,0 days 00:01:54.460000,0 days 00:01:54.810000,NaT,,NaN
23,23,A ALBON,ALB,albon,Williams,64C4FF,williams,Alexander,Albon,Alexander Albon,...,THA,11.0,,NaN,0 days 00:01:55.722000,0 days 00:01:54.473000,NaT,NaT,,NaN
10,10,P GASLY,GAS,gasly,Alpine,0093cc,alpine,Pierre,Gasly,Pierre Gasly,...,FRA,12.0,,NaN,0 days 00:01:54.911000,0 days 00:01:54.635000,NaT,NaT,,NaN
3,3,D RICCIARDO,RIC,ricciardo,RB,6692FF,rb,Daniel,Ricciardo,Daniel Ricciardo,...,AUS,13.0,,NaN,0 days 00:01:55.451000,0 days 00:01:54.682000,NaT,NaT,,NaN
77,77,V BOTTAS,BOT,bottas,Kick Sauber,52e252,sauber,Valtteri,Bottas,Valtteri Bottas,...,FIN,14.0,,NaN,0 days 00:01:55.531000,0 days 00:01:54.764000,NaT,NaT,,NaN
18,18,L STROLL,STR,stroll,Aston Martin,229971,aston_martin,Lance,Stroll,Lance Stroll,...,CAN,15.0,,NaN,0 days 00:01:56.072000,0 days 00:01:55.716000,NaT,NaT,,NaN
27,27,N HULKENBERG,HUL,hulkenberg,Haas F1 Team,B6BABD,haas,Nico,Hulkenberg,Nico Hulkenberg,...,GER,16.0,,NaN,0 days 00:01:56.308000,NaT,NaT,NaT,,NaN
20,20,K MAGNUSSEN,MAG,kevin_magnussen,Haas F1 Team,B6BABD,haas,Kevin,Magnussen,Kevin Magnussen,...,DEN,17.0,,NaN,0 days 00:01:56.500000,NaT,NaT,NaT,,NaN
22,22,Y TSUNODA,TSU,tsunoda,RB,6692FF,rb,Yuki,Tsunoda,Yuki Tsunoda,...,JPN,18.0,,NaN,0 days 00:01:56.593000,NaT,NaT,NaT,,NaN
2,2,L SARGEANT,SAR,sargeant,Williams,64C4FF,williams,Logan,Sargeant,Logan Sargeant,...,USA,19.0,,NaN,0 days 00:01:57.230000,NaT,NaT,NaT,,NaN
24,24,G ZHOU,ZHO,zhou,Kick Sauber,52e252,sauber,Guanyu,Zhou,Guanyu Zhou,...,CHN,20.0,,NaN,0 days 00:01:57.775000,NaT,NaT,NaT,,NaN

In [33]:
session.car_data["1"]

,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Time,SessionTime
0,2024-07-27 13:46:42.272,0,0,0,0,False,0,car,0 days 00:01:11.822000,0 days 00:01:11.822000
1,2024-07-27 13:46:42.432,0,0,0,0,False,0,car,0 days 00:01:11.982000,0 days 00:01:11.982000
2,2024-07-27 13:46:42.872,0,0,0,0,False,0,car,0 days 00:01:12.422000,0 days 00:01:12.422000
3,2024-07-27 13:46:43.272,0,0,0,0,False,0,car,0 days 00:01:12.822000,0 days 00:01:12.822000
4,2024-07-27 13:46:43.712,0,0,0,0,False,0,car,0 days 00:01:13.262000,0 days 00:01:13.262000
...,...,...,...,...,...,...,...,...,...,...
17494,2024-07-27 15:04:24.288,0,0,0,104,True,9,car,0 days 01:18:53.838000,0 days 01:18:53.838000
17495,2024-07-27 15:04:24.648,0,0,0,104,True,9,car,0 days 01:18:54.198000,0 days 01:18:54.198000
17496,2024-07-27 15:04:25.087,0,0,0,104,True,9,car,0 days 01:18:54.637000,0 days 01:18:54.637000
17497,2024-07-27 15:04:25.327,0,0,0,104,True,9,car,0 days 01:18:54.877000,0 days 01:18:54.877000
17498,2024-07-27 15:04:25.607,0,0,0,104,True,9,car,0 days 01:18:55.157000,0 days 01:18:55.157000