In [1]:
import livef1

session = livef1.get_session(
    season = 2025,
    meeting_identifier = "Shakir",
    session_identifier = "Practice 3"
)

session.generate()

# session = livef1.get_session(
#     season=2024,
#     meeting_identifier="Spa",
#     session_identifier="Practice 2"
# )

# session.generate()

01:29:24 - The identifier couldn't be found.
01:29:24 - The identifier is very close to 'Sakhir' at column 'MEETING CIRCUIT SHORTNAME'
01:29:24 - Selected meeting/session is:
	Meeting Offname : FORMULA 1 ARAMCO PRE-SEASON TESTING 2025
	Meeting Name : Pre-Season Testing
	Meeting Circuit Shortname : Sakhir
01:29:24 - Got the meeting.
01:29:24 - Selected meeting/session is:
	Session Name : Day 3
01:29:24 - The session was received successfully.
01:29:24 - Fetching drivers.
01:29:24 - Fetching data : 'CarData.z'
01:29:24 - Fetching data : 'SessionStatus'
01:29:24 - Fetching data : 'Position.z'
01:29:24 - Fetching data : 'TimingData'
01:29:24 - 'SessionStatus' has been fetched and parsed
01:29:25 - 'TimingData' has been fetched and parsed
01:29:30 - 'Position.z' has been fetched and parsed
01:29:33 - 'CarData.z' has been fetched and parsed
01:29:45 - Silver tables are being generated.

_deleted ['NumberOfLaps', 'NumberOfPitStops']
_deleted ['Lap']
_deleted ['NumberOfLaps', 'NumberOfPitStops']
_deleted ['Lap']
_deleted ['NumberOfLaps', 'NumberOfPitStops']
_deleted ['Lap']
_deleted ['NumberOfLaps', 'NumberOfPitStops']
_deleted ['Lap']
_deleted ['NumberOfLaps', 'NumberOfPitStops']
_deleted ['Lap']
_deleted ['NumberOfLaps', 'NumberOfPitStops']
_deleted ['Lap']
_deleted ['NumberOfLaps', 'NumberOfPitStops']
_deleted ['Lap']
_deleted ['NumberOfLaps', 'NumberOfPitStops']
_deleted ['Lap']
_deleted ['NumberOfLaps', 'NumberOfPitStops']
_deleted ['Lap']

01:29:49 - 'laps' has been generated and saved to the silver lake. You can access it from 'session.laps'.

_deleted ['NumberOfLaps', 'NumberOfPitStops']
_deleted ['Lap']
_deleted ['Lap']

01:30:06 - 'carTelemetry' has been generated and saved to the silver lake. You can access it from 'session.carTelemetry'.

In [ ]:
session.laps

In [2]:
df_test = session.laps.copy()
df_test["tot"] = df_test["sector1_time"] + df_test["sector2_time"] + df_test["sector3_time"]
df_test[df_test["DriverNo"] == "18"].sort_values("sector2_time",ascending=True)

,lap_number,lap_time,in_pit,pit_out,sector1_time,sector2_time,sector3_time,None,speed_I1,speed_I2,speed_FL,speed_ST,no_pits,lap_start_time,DriverNo,lap_start_date,tot
1349,22,0 days 00:01:31.699000,NaT,NaT,0 days 00:00:29.299000,0 days 00:00:39.355000,0 days 00:00:23.045000,None,240,267,281,313,5,0 days 07:06:42.833000,18,2025-02-28 13:51:43.028,0 days 00:01:31.699000
1344,17,0 days 00:01:32.124000,NaT,NaT,0 days 00:00:29.361000,0 days 00:00:39.631000,0 days 00:00:23.132000,None,240,266,281,310,4,0 days 06:39:03.521000,18,2025-02-28 13:24:03.716,0 days 00:01:32.124000
1346,19,0 days 00:01:32.484000,NaT,NaT,0 days 00:00:29.550000,0 days 00:00:39.693000,0 days 00:00:23.241000,None,240,267,281,311,4,0 days 06:42:37.571000,18,2025-02-28 13:27:37.766,0 days 00:01:32.484000
1338,11,0 days 00:01:33.185000,NaT,NaT,0 days 00:00:29.374000,0 days 00:00:39.704000,0 days 00:00:24.107000,None,240,266,281,311,3,0 days 06:19:10.225000,18,2025-02-28 13:04:10.420,0 days 00:01:33.185000
1351,24,0 days 00:01:32.412000,NaT,NaT,0 days 00:00:29.557000,0 days 00:00:39.754000,0 days 00:00:23.101000,None,240,267,280,313,5,0 days 07:10:18.881000,18,2025-02-28 13:55:19.076,0 days 00:01:32.412000
1341,14,0 days 00:01:32.694000,NaT,NaT,0 days 00:00:29.598000,0 days 00:00:39.974000,0 days 00:00:23.122000,None,240,266,280,311,3,0 days 06:23:24.678000,18,2025-02-28 13:08:24.873,0 days 00:01:32.694000
1333,6,0 days 00:01:33.227000,NaT,NaT,0 days 00:00:29.828000,0 days 00:00:40.018000,0 days 00:00:23.381000,None,236,268,279,312,2,0 days 06:04:09.503000,18,2025-02-28 12:49:09.698,0 days 00:01:33.227000
1358,31,0 days 00:01:36.213000,NaT,NaT,0 days 00:00:30.984000,0 days 00:00:41.271000,0 days 00:00:23.958000,None,233,259,271,283,6,0 days 07:30:29.354000,18,2025-02-28 14:15:29.549,0 days 00:01:36.213000
1357,30,0 days 00:01:36.324000,NaT,NaT,0 days 00:00:31.045000,0 days 00:00:41.334000,0 days 00:00:23.945000,None,None,257,271,285,6,0 days 07:28:54.254000,18,2025-02-28 14:13:54.449,0 days 00:01:36.324000
1359,32,0 days 00:01:36.483000,NaT,NaT,0 days 00:00:31.011000,0 days 00:00:41.422000,0 days 00:00:24.050000,None,None,254,274,284,6,0 days 07:32:05.678000,18,2025-02-28 14:17:05.873,0 days 00:01:36.483000
1355,28,0 days 00:01:36.324000,NaT,NaT,0 days 00:00:30.867000,0 days 00:00:41.586000,0 days 00:00:23.871000,None,233,245,271,288,6,0 days 07:25:39.994000,18,2025-02-28 14:10:40.189,0 days 00:01:36.324000
1356,29,0 days 00:01:36.713000,NaT,NaT,0 days 00:00:31.128000,0 days 00:00:41.610000,0 days 00:00:23.975000,None,232,254,271,289,6,0 days 07:27:16.442000,18,2025-02-28 14:12:16.637,0 days 00:01:36.713000
1354,27,0 days 00:01:36.482000,NaT,NaT,0 days 00:00:30.938000,0 days 00:00:41.697000,0 days 00:00:23.847000,None,234,243,271,273,6,0 days 07:24:03.583000,18,2025-02-28 14:09:03.778,0 days 00:01:36.482000
1362,35,0 days 00:01:36.774000,NaT,NaT,0 days 00:00:30.994000,0 days 00:00:41.701000,0 days 00:00:24.079000,None,None,260,275,291,6,0 days 07:36:56.377000,18,2025-02-28 14:21:56.572,0 days 00:01:36.774000
1361,34,0 days 00:01:36.879000,NaT,NaT,0 days 00:00:31.168000,0 days 00:00:41.813000,0 days 00:00:23.898000,None,None,253,275,284,6,0 days 07:35:19.494000,18,2025-02-28 14:20:19.689,0 days 00:01:36.879000
1360,33,0 days 00:01:37.478000,NaT,NaT,0 days 00:00:31.591000,0 days 00:00:41.859000,0 days 00:00:24.028000,None,None,256,274,286,6,0 days 07:33:42.079000,18,2025-02-28 14:18:42.274,0 days 00:01:37.478000
1353,26,0 days 00:10:25.501000,NaT,0 days 07:22:10.513000,NaT,0 days 00:00:42.827000,0 days 00:00:23.971000,None,219,245,None,203,6,0 days 07:13:37.988000,18,2025-02-28 13:58:38.183,NaT
1336,9,0 days 00:01:43.979000,0 days 06:11:33.705000,NaT,0 days 00:00:29.990000,0 days 00:00:43.492000,0 days 00:00:30.497000,None,239,171,279,311,2,0 days 06:09:51.457000,18,2025-02-28 12:54:51.652,0 days 00:01:43.979000
1331,4,0 days 00:01:48.216000,0 days 05:52:45.245000,NaT,0 days 00:00:34.100000,0 days 00:00:44.695000,0 days 00:00:29.421000,None,236,249,181,221,1,0 days 05:50:58.980000,18,2025-02-28 12:35:59.175,0 days 00:01:48.216000
1347,20,0 days 00:01:45.548000,0 days 06:45:53.949000,NaT,0 days 00:00:33.465000,0 days 00:00:44.943000,0 days 00:00:27.140000,None,192,219,280,212,4,0 days 06:44:10.257000,18,2025-02-28 13:29:10.452,0 days 00:01:45.548000
1342,15,0 days 00:01:47.460000,0 days 06:26:42.895000,NaT,0 days 00:00:34.199000,0 days 00:00:45.177000,0 days 00:00:28.084000,None,185,210,282,216,3,0 days 06:24:57.372000,18,2025-02-28 13:09:57.567,0 days 00:01:47.460000
1352,25,0 days 00:01:46.711000,0 days 07:13:36.145000,NaT,0 days 00:00:33.459000,0 days 00:00:45.745000,0 days 00:00:27.507000,None,197,204,281,245,5,0 days 07:11:51.428000,18,2025-02-28 13:56:51.623,0 days 00:01:46.711000
1363,36,0 days 00:01:46.178000,0 days 07:40:17.490000,NaT,0 days 00:00:31.225000,0 days 00:00:45.930000,0 days 00:00:29.023000,None,None,206,274,286,6,0 days 07:38:33.241000,18,2025-02-28 14:23:33.436,0 days 00:01:46.178000
1330,3,0 days 00:01:49.075000,NaT,NaT,0 days 00:00:34.486000,0 days 00:00:47.212000,0 days 00:00:27.377000,None,231,237,249,209,1,0 days 05:49:09.905000,18,2025-02-28 12:34:10.100,0 days 00:01:49.075000
1343,16,0 days 00:12:18.782000,NaT,0 days 06:37:16.651000,NaT,0 days 00:00:47.492000,0 days 00:00:24.866000,None,154,195,None,140,4,0 days 06:26:44.679000,18,2025-02-28 13:11:44.874,NaT
1337,10,0 days 00:07:34.800000,NaT,0 days 06:17:23.137000,NaT,0 days 00:00:48.039000,0 days 00:00:24.652000,None,174,183,None,146,3,0 days 06:11:35.422000,18,2025-02-28 12:56:35.617,NaT
1348,21,0 days 00:20:47.058000,NaT,0 days 07:04:52.844000,NaT,0 days 00:00:48.981000,0 days 00:00:26.078000,None,183,176,None,132,5,0 days 06:45:55.850000,18,2025-02-28 13:30:56.045,NaT
1329,2,NaT,NaT,0 days 05:47:18.252000,NaT,0 days 00:00:50.170000,0 days 00:00:26.175000,None,167,243,None,158,1,0 days 04:39:47.447000,18,2025-02-28 11:24:47.642,NaT
1332,5,0 days 00:11:22.334000,NaT,0 days 06:02:16.665000,NaT,0 days 00:00:53.530000,0 days 00:00:25.435000,None,162,199,None,161,2,0 days 05:52:46.992000,18,2025-02-28 12:37:47.187,NaT
1335,8,0 days 00:01:54.949000,NaT,NaT,0 days 00:00:35.885000,0 days 00:00:53.533000,0 days 00:00:25.531000,None,164,175,280,313,2,0 days 06:07:56.394000,18,2025-02-28 12:52:56.589,0 days 00:01:54.949000
1345,18,0 days 00:02:02.047000,NaT,NaT,0 days 00:00:38.724000,0 days 00:00:58.180000,0 days 00:00:25.143000,None,122,171,280,210,4,0 days 06:40:35.747000,18,2025-02-28 13:25:35.942,0 days 00:02:02.047000
1350,23,0 days 00:02:04.394000,NaT,NaT,0 days 00:00:38.420000,0 days 00:00:59.905000,0 days 00:00:26.069000,None,159,143,281,215,5,0 days 07:08:14.587000,18,2025-02-28 13:53:14.782,0 days 00:02:04.394000
1334,7,0 days 00:02:13.870000,NaT,NaT,0 days 00:00:42.538000,0 days 00:01:00.346000,0 days 00:00:30.986000,None,140,144,278,191,2,0 days 06:05:42.646000,18,2025-02-28 12:50:42.841,0 days 00:02:13.870000
1340,13,0 days 00:02:41.159000,NaT,NaT,NaT,0 days 00:01:17.059000,0 days 00:00:35.457000,None,None,192,None,None,3,NaT,18,2025-02-28 07:00:00.107,NaT
1328,1,NaT,0 days 04:39:47.447000,NaT,NaT,NaT,NaT,None,None,None,None,None,0,NaT,18,2025-02-28 07:00:00.107,NaT
1339,12,NaT,NaT,NaT,0 days 00:00:48.643000,NaT,NaT,None,117,None,274,134,3,0 days 06:20:43.418000,18,2025-02-28 13:05:43.613,NaT

In [3]:
df_td = session.get_data("TimingData")
df_td6 = df_td[df_td["DriverNo"] == "18"].sort_values("timestamp",ascending=False)

In [4]:
df_td6

,SessionKey,timestamp,DriverNo,TimeDiffToFastest,TimeDiffToPositionAhead,Line,Position,ShowPosition,RacingNumber,Retired,...,Sectors_2_Segments_5_Status,Sectors_2_Segments_6_Status,Sectors_2_PreviousValue,Sectors_0_Value,Sectors_0_OverallFastest,Sectors_0_PersonalFastest,Sectors_0_PreviousValue,NumberOfPitStops,BestLapTime_Lap,_deleted
46416,9685,09:08:14.338,18,+2.154,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
44848,9685,08:55:50.032,18,NaN,+0.460,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
43901,9685,08:40:24.460,18,NaN,+0.238,13.0,13,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
43365,9685,08:34:54.765,18,+2.133,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
41490,9685,08:20:30.885,18,+2.049,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20604,9685,04:39:53.911,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
20594,9685,04:39:53.077,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,[Lap]
20584,9685,04:39:48.988,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
20582,9685,04:39:47.490,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.030,NaN,NaN,NaN,31.012,NaN,NaN,False
20581,9685,04:39:47.447,18,,,10.0,10,True,18,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False