In [1]:
import livef1
from livef1.utils.constants import interpolation_map
from livef1.adapters.livetimingf1_adapter import livetimingF1_getdata

import pandas as pd
import numpy as np
from datetime import timedelta

import matplotlib.pyplot as plt

session = livef1.get_session(season=2021, meeting_identifier="Abu Dhabi", session_identifier="Race")

2025-01-18 23:39:33,643 : livef1 : INFO :: Selected meeting/session is:
Meeting Offname : FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX 2021
Meeting Name : Abu Dhabi Grand Prix
Meeting Circuit Shortname : Yas Marina Circuit
2025-01-18 23:39:33,644 : livef1 : INFO :: The meeting was received successfully.
2025-01-18 23:39:33,647 : livef1 : INFO :: Selected meeting/session is:
Session Name : Race
2025-01-18 23:39:33,647 : livef1 : INFO :: The session was received successfully.

In [2]:
season = livef1.get_season("2021")

In [70]:
season.meetings_table.sort_values("Meeting Key")

,Meeting Key,Meeting Code,Meeting Name,Meeting Circuit Shortname,No. Sessions,Race Startdate
0,1064,BRN0104,Bahrain Grand Prix,Sakhir,5,2021-03-28 18:00:00
1,1065,ITA0110,Emilia Romagna Grand Prix,Imola,5,2021-04-18 15:00:00
2,1066,POR0401,Portuguese Grand Prix,Algarve International Circuit,5,2021-05-02 15:00:00
4,1067,MON0112,Monaco Grand Prix,Monte Carlo,5,2021-05-23 15:00:00
5,1068,AZE02,Azerbaijan Grand Prix,Baku,5,2021-06-06 16:00:00
6,1070,FRA0603,French Grand Prix,Paul Ricard,5,2021-06-20 15:00:00
8,1071,AUT0108,Austrian Grand Prix,Spielberg,5,2021-07-04 15:00:00
9,1072,GBR0114,British Grand Prix,Silverstone,5,2021-07-18 15:00:00
10,1073,HUN0109,Hungarian Grand Prix,Hungaroring,5,2021-08-01 15:00:00
11,1074,BEL02012,Belgian Grand Prix,Spa-Francorchamps,5,2021-08-29 15:00:00
12,1075,NED0105,Dutch Grand Prix,Zandvoort,5,2021-09-05 15:00:00
13,1076,ITA0311,Italian Grand Prix,Monza,5,2021-09-12 15:00:00
14,1077,RUS0101,Russian Grand Prix,Sochi,5,2021-09-26 15:00:00
15,1078,TUR0104,Turkish Grand Prix,Istanbul,5,2021-10-10 15:00:00
3,1086,ESP0111,Spanish Grand Prix,Catalunya,5,2021-05-09 15:00:00
7,1092,AUT0108,Styrian Grand Prix,Spielberg,5,2021-06-27 15:00:00
16,1102,USA0101,United States Grand Prix,Austin,5,2021-10-24 14:00:00
17,1103,MEX0103,Mexico City Grand Prix,Mexico City,5,2021-11-07 13:00:00
18,1104,BRA0108,SÃ£o Paulo Grand Prix,Interlagos,5,2021-11-14 14:00:00
19,1105,QAT0101,Qatar Grand Prix,Losail,5,2021-11-21 17:00:00
20,1106,KSA0101,Saudi Arabian Grand Prix,Jeddah,6,2021-12-05 20:30:00
22,1106,KSA0101,Saudi Arabian Grand Prix,Jeddah,6,2022-03-24 19:00:00
21,1107,UAE0103,Abu Dhabi Grand Prix,Yas Marina Circuit,5,2021-12-12 17:00:00

In [11]:
res = session.get_data(dataName="TyreStintSeries")
df_exp = pd.DataFrame(res.value)
df_exp

2025-01-18 23:43:43,293 : livef1 : INFO :: Getting requested data.
Selected session : 2021 Abu Dhabi Grand Prix Race
Topic : TyreStintSeries
2025-01-18 23:43:43,537 : livef1 : INFO :: Data is successfully received.
2025-01-18 23:43:43,538 : livef1 : INFO :: Data is successfully parsed.

,session_key,timestamp,DriverNo,PitCount,Compound,New,TyresNotChanged,TotalLaps,StartLaps
0,6601,00:56:03.194,3,0,SOFT,false,0,3.0,3.0
1,6601,00:56:03.194,4,0,SOFT,false,0,3.0,3.0
2,6601,00:56:03.194,5,0,MEDIUM,true,0,0.0,0.0
3,6601,00:56:03.194,10,0,HARD,true,0,0.0,0.0
4,6601,00:56:03.194,11,0,SOFT,false,0,3.0,3.0
...,...,...,...,...,...,...,...,...,...
1044,6601,02:33:43.691,4,2,NaN,NaN,NaN,10.0,NaN
1045,6601,02:33:43.691,14,1,NaN,NaN,NaN,22.0,NaN
1046,6601,02:33:48.695,5,1,NaN,NaN,NaN,35.0,NaN
1047,6601,02:33:48.695,16,2,NaN,NaN,NaN,28.0,NaN
1048,6601,02:33:48.695,31,1,NaN,NaN,NaN,44.0,NaN

In [ ]:
res = session.get_data(dataName="Timing_Data")
df_exp = pd.DataFrame(res.value)
df_exp

2025-01-17 14:39:24,607 : livef1 : INFO :: Getting requested data.
Selected session : 2021 Abu Dhabi Grand Prix Race
Topic : TimingData
2025-01-17 14:39:30,040 : livef1 : INFO :: Data is successfully received.
2025-01-17 14:39:30,536 : livef1 : INFO :: Data is successfully parsed.

,SessionKey,timestamp,DriverNo,GapToLeader,IntervalToPositionAhead_Value,IntervalToPositionAhead_Catching,Line,Position,ShowPosition,RacingNumber,...,Sectors_2_Segments_8_Status,Sectors_1_PreviousValue,NumberOfLaps,Sectors_2_PreviousValue,Sectors_0_Value,Sectors_0_OverallFastest,Sectors_0_PersonalFastest,Sectors_0_PreviousValue,BestLapTime_Lap,NumberOfPitStops
0,6601,00:00:08.464,33,LAP 1,LAP 1,False,1.0,1,True,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6601,00:00:08.464,44,,,False,2.0,2,True,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6601,00:00:08.464,4,,,False,3.0,3,True,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6601,00:00:08.464,11,,,False,4.0,4,True,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6601,00:00:08.464,55,,,False,5.0,5,True,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55100,6601,02:36:14.788,99,25L,17L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55101,6601,02:36:14.788,6,8L,5L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55102,6601,02:36:14.788,63,32L,7L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55103,6601,02:36:14.788,7,33L,1L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55104,6601,02:36:14.788,47,1L,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_temp = df_11.copy()

df_temp[list(sector_cols.keys())] = df_temp[list(sector_cols.keys())].ffill()

from time import time

s = time()
df_temp.dropna(subset="NumberOfLaps")[list(sector_cols.keys()) + ["NumberOfLaps"]]
# time() - s

,Sectors_0_Value,Sectors_1_Value,Sectors_2_Value,Sectors_0_PreviousValue,Sectors_1_PreviousValue,Sectors_2_PreviousValue,NumberOfLaps
3530,NaN,50.038,29.491,NaN,50.038,NaN,1.0
4760,31.365,49.207,29.668,31.365,49.207,29.491,2.0
5940,31.470,48.913,29.600,31.470,48.913,29.668,3.0
7105,31.356,49.032,29.402,31.356,49.032,29.600,4.0
8294,31.447,48.958,29.491,31.447,48.958,29.402,5.0
9464,31.583,49.116,29.430,31.583,49.116,29.491,6.0
10586,31.524,48.599,29.514,31.524,48.599,29.430,7.0
11702,31.530,48.828,29.554,31.530,48.828,29.514,8.0
12820,31.506,49.173,29.607,31.506,49.173,29.554,9.0
13955,31.598,48.943,29.516,31.598,48.943,29.607,10.0
15152,31.528,49.036,34.280,31.528,49.036,29.516,11.0
16430,44.973,49.368,29.363,44.973,49.368,34.280,12.0
17597,31.062,48.626,29.084,31.062,48.626,29.363,13.0
18741,30.765,48.478,29.151,30.765,48.478,29.084,14.0
19857,31.119,48.083,29.103,31.119,48.083,29.151,15.0
20993,31.333,48.045,29.126,31.333,48.045,29.103,16.0
22120,31.332,47.969,29.191,31.332,47.969,29.126,17.0
23254,31.237,48.064,29.253,31.237,48.064,29.191,18.0
24382,31.390,48.119,29.186,31.390,48.119,29.253,19.0
25514,31.422,48.809,29.432,31.422,48.809,29.186,20.0
26702,31.513,49.184,33.985,31.513,49.184,29.432,21.0
27964,45.499,47.097,29.235,45.499,47.097,33.985,22.0
29076,31.259,46.886,29.078,31.259,46.886,29.235,23.0
30196,31.333,47.399,29.090,31.333,47.399,29.078,24.0
31312,31.343,47.231,29.093,31.343,47.231,29.090,25.0
32447,31.404,47.520,29.124,31.404,47.520,29.093,26.0
33565,31.285,47.326,29.014,31.285,47.326,29.124,27.0
34684,31.264,47.353,29.083,31.264,47.353,29.014,28.0
35804,31.187,47.312,28.971,31.187,47.312,29.083,29.0
36936,31.169,48.727,28.982,31.169,48.727,28.971,30.0
38074,31.005,48.343,28.987,31.005,48.343,28.982,31.0
39208,31.302,47.611,29.103,31.302,47.611,28.987,32.0
40338,31.216,47.190,29.224,31.216,47.190,29.103,33.0
41465,31.160,47.778,29.279,31.160,47.778,29.224,34.0
42580,31.208,47.458,29.177,31.208,47.458,29.279,35.0
43714,31.205,47.674,29.135,31.205,47.674,29.177,36.0
44846,31.170,47.618,29.269,31.170,47.618,29.135,37.0
45978,31.147,47.455,29.181,31.147,47.455,29.269,38.0
47115,31.161,48.875,29.236,31.161,48.875,29.181,39.0
48247,31.180,47.643,29.073,31.180,47.643,29.236,40.0
49375,31.159,47.712,28.969,31.159,47.712,29.073,41.0
50553,31.201,47.601,34.064,31.201,47.601,28.969,42.0
51851,45.784,47.705,30.034,45.784,47.705,34.064,43.0
52838,30.808,45.309,28.584,30.808,45.309,30.034,44.0

In [74]:
df_11 = df_exp[df_exp["DriverNo"] == "6"]
# df_11 = df_exp[df_exp["DriverNo"] == "24"]

In [198]:
sector_cols = {
    "Sectors_0_Value" : "sector1_time",
    "Sectors_1_Value" : "sector2_time",
    "Sectors_2_Value" : "sector3_time",
    "Sectors_0_PreviousValue" : None,
    "Sectors_1_PreviousValue" : None,
    "Sectors_2_PreviousValue" : None
}

segment_cols = {col:f"S{col.split('_')[1]}_segment{col.split('_')[3]}_status" for col in df_11.columns if ("Sectors" in col) & ("Segments" in col)}

speedTrap_cols = {
    "Speeds_I1_Value" : "speed_I1",
    "Speeds_I2_Value" : "speed_I2",
    "Speeds_FL_Value" : "speed_FL",
    "Speeds_ST_Value" : "speed_ST",
}
pit_cols = {
    "InPit" : "in_pit",
    "PitOut" : "pit_out"
}

base_cols = {
    "NumberOfLaps" : "lap_number",
    "LastLapTime_Value" : "lap_time"
    }

extra_cols = ["no_pits"]
extra_raw_cols = ["Stopped"]

col_map = {**base_cols, **pit_cols, **sector_cols, **speedTrap_cols} #, **segment_cols}
cols = list(base_cols.values()) + list(pit_cols.values()) + list(sector_cols.values()) + list(speedTrap_cols.values())  # + list(segment_cols.values())
raw_cols = list(base_cols.keys()) + list(pit_cols.keys()) + list(sector_cols.keys()) + list(speedTrap_cols.keys()) + extra_raw_cols # + list(segment_cols.keys())

def str_timedelta(x):
    if isinstance(x,str):
        count_sep = x.count(":")
        if count_sep == 0:
            return "00:00:" + x
        elif count_sep == 1:
            return "00:" + x
        else: return x
    else:
        return x

df_test = df_11[["timestamp"] + raw_cols].dropna(subset=raw_cols, how="all").replace('',np.nan)

for col in ["Sectors_0_Value","Sectors_1_Value","Sectors_2_Value", "Sectors_0_PreviousValue","Sectors_1_PreviousValue","Sectors_2_PreviousValue", "LastLapTime_Value"]:
    df_test[col] = df_test[col]
    df_test[col] = pd.to_timedelta(df_test[col].apply(str_timedelta))

def enter_new_lap(laps, record):
    print(">>", record)
    if laps is None and record is None:
        no_pits = 0
        laps = []
        record = {key:None if key != "lap_number" else 1 for key in cols}
        record["no_pits"] = no_pits
        return [], record, timedelta(seconds=0)

    if (record["lap_time"] is None) & ((record["sector1_time"] != None) and (record["sector2_time"] != None) and (record["sector3_time"] != None)):  
        record["lap_time"] = record["sector1_time"] + record["sector2_time"] + record["sector3_time"]

    laps.append(record)

    no_pits = record["no_pits"]
    record = {key:None if key != "lap_number" else val+1 for key, val in record.items()}
    record["no_pits"] = no_pits

    return laps, record

new_lap_allowed = True
laps, record, last_record_ts = enter_new_lap(None, None)

for idx,row in df_test.iterrows():
    ts = pd.to_timedelta(row.timestamp)

    if row.Stopped == True:
        laps, record = enter_new_lap(laps, record)
        continue

    if not pd.isnull(row.LastLapTime_Value):
        if not pd.isnull(row.Sectors_2_Value): record[col_map["LastLapTime_Value"]] = row.LastLapTime_Value
        elif not pd.isnull(row.Sectors_2_PreviousValue): laps[-1][col_map["LastLapTime_Value"]] = row.LastLapTime_Value
    
    for sc_key, sc_value in row[list(speedTrap_cols.keys())].dropna().to_dict().items():
        record[col_map[sc_key]] = sc_value
    
    for sc_key, sc_value in row[list(pit_cols.keys())].dropna().to_dict().items():
        if sc_key == "InPit":
            if sc_value == 1:
                record[col_map[sc_key]] = ts
        elif sc_key == "PitOut":
            if sc_value == True:
                record[col_map[sc_key]] = ts
                record["no_pits"] += 1
    
    for sc_key, sc_value in row[list(sector_cols.keys())].dropna().to_dict().items():
        sc_no = int(sc_key.split("_")[1])
        key_type = sc_key.split("_")[2]
        # print(sc_no, "||", ts, "||", key_type, sc_value)

        if key_type == "Value":
            if record[f"sector{str(sc_no + 1)}_time"] == None:
                record[f"sector{str(sc_no + 1)}_time"] = sc_value
                last_record_ts = ts
                if sc_no == 2:
                    # entering new lap
                    laps, record = enter_new_lap(laps, record)
                    record["lap_start_time"] = ts
            elif sc_value == record[str(sc_no + 1)]: pass
            elif ts - last_record_ts > timedelta(seconds=10):
                # entering new lap
                laps, record = enter_new_lap(laps, record)
                record[f"sector{str(sc_no + 1)}_time"] = sc_value
                last_record_ts = ts

        elif key_type == "PreviousValue" and ts - last_record_ts > timedelta(seconds=10):
            record[f"sector{str(sc_no + 1)}_time"] = sc_value
            last_record_ts = ts
            if sc_no == 2:
                # entering new lap
                laps, record = enter_new_lap(laps, record)

laps_df = pd.DataFrame(laps)

segments = ["sector1_time","sector2_time","sector3_time"]
for idx in range(len(segments)):
    rest = np.delete(segments, idx)
    laps_df[segments[idx]] = (laps_df[segments[idx]].fillna(timedelta(minutes=0)) + (laps_df[segments[idx]].isnull() & (laps_df["lap_number"] > 1)) * (laps_df[segments[idx]].isnull() * (laps_df["lap_time"].fillna(timedelta(minutes=0)) - laps_df[rest].sum(axis=1)))).replace(timedelta(minutes=0), np.timedelta64("NaT"))

new_ts = (laps_df["lap_start_time"] + laps_df["lap_time"]).shift(1)
laps_df["lap_start_time"] = (new_ts.isnull() * laps_df["lap_start_time"]) + new_ts.fillna(timedelta(0))

laps_df[["lap_start_time"] + laps_df.columns.tolist()]

>> None
>> {'lap_number': 1, 'lap_time': None, 'in_pit': Timedelta('0 days 00:22:15.162000'), 'pit_out': None, 'sector1_time': None, 'sector2_time': Timedelta('0 days 00:00:40.348000'), 'sector3_time': Timedelta('0 days 00:00:36.131000'), None: None, 'speed_I1': '279', 'speed_I2': '277', 'speed_FL': '212', 'speed_ST': '302', 'no_pits': 0}
>> {'lap_number': 2, 'lap_time': Timedelta('0 days 00:01:34.545000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:19.131000'), 'sector2_time': Timedelta('0 days 00:00:39.368000'), 'sector3_time': Timedelta('0 days 00:00:36.046000'), None: None, 'speed_I1': '286', 'speed_I2': '303', 'speed_FL': '207', 'speed_ST': '298', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:04:03.363000')}
>> {'lap_number': 3, 'lap_time': Timedelta('0 days 00:01:33.236000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.869000'), 'sector2_time': Timedelta('0 days 00:00:39.611000'), 'sector3_time': Timedelta('0 days 00:00:34.756000'), None: None, 'speed_I1': '284', 'speed_I2': '297', 'speed_FL': '211', 'speed_ST': '317', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:05:37.915000')}
>> {'lap_number': 4, 'lap_time': Timedelta('0 days 00:01:32.304000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.654000'), 'sector2_time': Timedelta('0 days 00:00:39.218000'), 'sector3_time': Timedelta('0 days 00:00:34.432000'), None: None, 'speed_I1': '279', 'speed_I2': '296', 'speed_FL': '210', 'speed_ST': '304', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:07:11.185000')}
>> {'lap_number': 5, 'lap_time': Timedelta('0 days 00:01:31.755000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.719000'), 'sector2_time': Timedelta('0 days 00:00:38.993000'), 'sector3_time': Timedelta('0 days 00:00:34.043000'), None: None, 'speed_I1': '284', 'speed_I2': '305', 'speed_FL': '209', 'speed_ST': '307', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:08:43.447000')}
>> {'lap_number': 6, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.689000'), 'sector2_time': Timedelta('0 days 00:00:39.006000'), 'sector3_time': Timedelta('0 days 00:00:34.308000'), None: None, 'speed_I1': '279', 'speed_I2': '302', 'speed_FL': '211', 'speed_ST': '304', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:10:15.212000')}
>> {'lap_number': 7, 'lap_time': Timedelta('0 days 00:01:31.378000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.538000'), 'sector2_time': Timedelta('0 days 00:00:38.777000'), 'sector3_time': Timedelta('0 days 00:00:34.063000'), None: None, 'speed_I1': '284', 'speed_I2': '301', 'speed_FL': '211', 'speed_ST': '307', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:11:47.235000')}
>> {'lap_number': 8, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.591000'), 'sector2_time': Timedelta('0 days 00:00:39.049000'), 'sector3_time': Timedelta('0 days 00:00:34.155000'), None: None, 'speed_I1': '286', 'speed_I2': '300', 'speed_FL': '210', 'speed_ST': '302', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:13:18.611000')}
>> {'lap_number': 9, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.538000'), 'sector2_time': Timedelta('0 days 00:00:39.223000'), 'sector3_time': Timedelta('0 days 00:00:33.943000'), None: None, 'speed_I1': '277', 'speed_I2': '289', 'speed_FL': '212', 'speed_ST': '299', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:14:50.403000')}
>> {'lap_number': 10, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.554000'), 'sector2_time': Timedelta('0 days 00:00:39.132000'), 'sector3_time': Timedelta('0 days 00:00:33.703000'), None: None, 'speed_I1': '279', 'speed_I2': '295', 'speed_FL': '211', 'speed_ST': '298', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:16:22.102000')}
>> {'lap_number': 11, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.540000'), 'sector2_time': Timedelta('0 days 00:00:39.021000'), 'sector3_time': Timedelta('0 days 00:00:33.950000'), None: None, 'speed_I1': '278', 'speed_I2': '289', 'speed_FL': '210', 'speed_ST': '297', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:17:53.507000')}
>> {'lap_number': 12, 'lap_time': Timedelta('0 days 00:01:30.971000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.518000'), 'sector2_time': Timedelta('0 days 00:00:38.888000'), 'sector3_time': Timedelta('0 days 00:00:33.565000'), None: None, 'speed_I1': '279', 'speed_I2': '291', 'speed_FL': '212', 'speed_ST': '298', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:19:24.933000')}
>> {'lap_number': 13, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.511000'), 'sector2_time': Timedelta('0 days 00:00:38.886000'), 'sector3_time': Timedelta('0 days 00:00:33.681000'), None: None, 'speed_I1': None, 'speed_I2': '288', 'speed_FL': '212', 'speed_ST': '298', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:20:56.004000')}
>> {'lap_number': 14, 'lap_time': Timedelta('0 days 00:01:30.932000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.451000'), 'sector2_time': Timedelta('0 days 00:00:38.884000'), 'sector3_time': Timedelta('0 days 00:00:33.597000'), None: None, 'speed_I1': '280', 'speed_I2': '288', 'speed_FL': '212', 'speed_ST': '295', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:22:27.037000')}
>> {'lap_number': 15, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.481000'), 'sector2_time': Timedelta('0 days 00:00:38.998000'), 'sector3_time': Timedelta('0 days 00:00:33.655000'), None: None, 'speed_I1': None, 'speed_I2': '290', 'speed_FL': '212', 'speed_ST': '291', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:23:57.994000')}
>> {'lap_number': 16, 'lap_time': Timedelta('0 days 00:01:31.047000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.412000'), 'sector2_time': Timedelta('0 days 00:00:38.944000'), 'sector3_time': Timedelta('0 days 00:00:33.691000'), None: None, 'speed_I1': '279', 'speed_I2': '289', 'speed_FL': '213', 'speed_ST': '297', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:25:29.116000')}
>> {'lap_number': 17, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.542000'), 'sector2_time': Timedelta('0 days 00:00:39.173000'), 'sector3_time': Timedelta('0 days 00:00:34.176000'), None: None, 'speed_I1': '280', 'speed_I2': '292', 'speed_FL': '212', 'speed_ST': '279', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:27:00.166000')}
>> {'lap_number': 18, 'lap_time': Timedelta('0 days 00:01:30.912000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.450000'), 'sector2_time': Timedelta('0 days 00:00:38.917000'), 'sector3_time': Timedelta('0 days 00:00:33.545000'), None: None, 'speed_I1': '281', 'speed_I2': '291', 'speed_FL': '211', 'speed_ST': '297', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:28:32.032000')}
>> {'lap_number': 19, 'lap_time': Timedelta('0 days 00:01:30.884000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.479000'), 'sector2_time': Timedelta('0 days 00:00:38.820000'), 'sector3_time': Timedelta('0 days 00:00:33.585000'), None: None, 'speed_I1': '282', 'speed_I2': '289', 'speed_FL': '213', 'speed_ST': '296', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:30:02.942000')}
>> {'lap_number': 20, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.303000'), 'sector2_time': Timedelta('0 days 00:00:39.324000'), 'sector3_time': Timedelta('0 days 00:00:34.690000'), None: None, 'speed_I1': '280', 'speed_I2': '274', 'speed_FL': '211', 'speed_ST': '300', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:31:33.859000')}
>> {'lap_number': 21, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.507000'), 'sector2_time': Timedelta('0 days 00:00:38.758000'), 'sector3_time': Timedelta('0 days 00:00:33.621000'), None: None, 'speed_I1': '283', 'speed_I2': '290', 'speed_FL': '212', 'speed_ST': '299', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:33:06.130000')}
>> {'lap_number': 22, 'lap_time': Timedelta('0 days 00:01:32.122000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.383000'), 'sector2_time': Timedelta('0 days 00:00:39.085000'), 'sector3_time': Timedelta('0 days 00:00:34.654000'), None: None, 'speed_I1': '280', 'speed_I2': '272', 'speed_FL': '213', 'speed_ST': '292', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:34:36.964000')}
>> {'lap_number': 23, 'lap_time': Timedelta('0 days 00:01:30.803000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.442000'), 'sector2_time': Timedelta('0 days 00:00:38.759000'), 'sector3_time': Timedelta('0 days 00:00:33.602000'), None: None, 'speed_I1': '285', 'speed_I2': '293', 'speed_FL': '211', 'speed_ST': '298', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:36:09.172000')}
>> {'lap_number': 24, 'lap_time': Timedelta('0 days 00:01:30.935000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.484000'), 'sector2_time': Timedelta('0 days 00:00:38.816000'), 'sector3_time': Timedelta('0 days 00:00:33.635000'), None: None, 'speed_I1': '281', 'speed_I2': '287', 'speed_FL': '213', 'speed_ST': '298', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:37:39.967000')}
>> {'lap_number': 25, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.401000'), 'sector2_time': Timedelta('0 days 00:00:38.940000'), 'sector3_time': Timedelta('0 days 00:00:33.714000'), None: None, 'speed_I1': '282', 'speed_I2': '290', 'speed_FL': '212', 'speed_ST': '297', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:39:10.936000')}
>> {'lap_number': 26, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.533000'), 'sector2_time': Timedelta('0 days 00:00:38.969000'), 'sector3_time': Timedelta('0 days 00:00:33.565000'), None: None, 'speed_I1': None, 'speed_I2': '285', 'speed_FL': '211', 'speed_ST': '298', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:40:41.966000')}
>> {'lap_number': 27, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.488000'), 'sector2_time': Timedelta('0 days 00:00:39.004000'), 'sector3_time': Timedelta('0 days 00:00:35.005000'), None: None, 'speed_I1': '280', 'speed_I2': '302', 'speed_FL': '211', 'speed_ST': '296', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:42:13.016000')}
>> {'lap_number': 28, 'lap_time': None, 'in_pit': Timedelta('0 days 01:45:18.551000'), 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.629000'), 'sector2_time': Timedelta('0 days 00:00:39.332000'), 'sector3_time': Timedelta('0 days 00:00:36.205000'), None: None, 'speed_I1': '287', 'speed_I2': '295', 'speed_FL': None, 'speed_ST': '303', 'no_pits': 0, 'lap_start_time': Timedelta('0 days 01:43:45.544000')}
>> {'lap_number': 29, 'lap_time': None, 'in_pit': None, 'pit_out': Timedelta('0 days 01:45:39.815000'), 'sector1_time': Timedelta('0 days 00:00:38.163000'), 'sector2_time': Timedelta('0 days 00:00:38.563000'), 'sector3_time': Timedelta('0 days 00:00:33.054000'), None: None, 'speed_I1': '282', 'speed_I2': '294', 'speed_FL': '215', 'speed_ST': '297', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 01:45:19.682000')}
>> {'lap_number': 30, 'lap_time': Timedelta('0 days 00:01:29.293000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.179000'), 'sector2_time': Timedelta('0 days 00:00:38.269000'), 'sector3_time': Timedelta('0 days 00:00:32.845000'), None: None, 'speed_I1': '280', 'speed_I2': '291', 'speed_FL': '216', 'speed_ST': '295', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 01:47:09.491000')}
>> {'lap_number': 31, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.003000'), 'sector2_time': Timedelta('0 days 00:00:38.467000'), 'sector3_time': Timedelta('0 days 00:00:32.923000'), None: None, 'speed_I1': '277', 'speed_I2': '290', 'speed_FL': '216', 'speed_ST': '294', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 01:48:38.756000')}
>> {'lap_number': 32, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.042000'), 'sector2_time': Timedelta('0 days 00:00:38.423000'), 'sector3_time': Timedelta('0 days 00:00:32.966000'), None: None, 'speed_I1': '281', 'speed_I2': '294', 'speed_FL': '217', 'speed_ST': '294', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 01:50:08.169000')}
>> {'lap_number': 33, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.068000'), 'sector2_time': Timedelta('0 days 00:00:38.497000'), 'sector3_time': Timedelta('0 days 00:00:32.977000'), None: None, 'speed_I1': '280', 'speed_I2': '292', 'speed_FL': '217', 'speed_ST': '297', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 01:51:37.598000')}
>> {'lap_number': 34, 'lap_time': Timedelta('0 days 00:01:29.530000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.906000'), 'sector2_time': Timedelta('0 days 00:00:38.456000'), 'sector3_time': Timedelta('0 days 00:00:33.168000'), None: None, 'speed_I1': '283', 'speed_I2': '289', 'speed_FL': '217', 'speed_ST': '298', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 01:53:07.133000')}
>> {'lap_number': 35, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.852000'), 'sector2_time': Timedelta('0 days 00:00:47.579000'), 'sector3_time': Timedelta('0 days 00:00:42.145000'), None: None, 'speed_I1': '281', 'speed_I2': '166', 'speed_FL': '198', 'speed_ST': '256', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 01:54:36.661000')}
>> {'lap_number': 36, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:25.373000'), 'sector2_time': Timedelta('0 days 00:00:49.392000'), 'sector3_time': Timedelta('0 days 00:00:38.805000'), None: None, 'speed_I1': '133', 'speed_I2': '207', 'speed_FL': '214', 'speed_ST': '193', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 01:56:24.236000')}
>> {'lap_number': 37, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.495000'), 'sector2_time': Timedelta('0 days 00:00:38.469000'), 'sector3_time': Timedelta('0 days 00:00:34.334000'), None: None, 'speed_I1': '289', 'speed_I2': '321', 'speed_FL': '216', 'speed_ST': '319', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 01:58:17.818000')}
>> {'lap_number': 38, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:18.157000'), 'sector2_time': Timedelta('0 days 00:00:38.400000'), 'sector3_time': Timedelta('0 days 00:00:33.287000'), None: None, 'speed_I1': '290', 'speed_I2': '296', 'speed_FL': '218', 'speed_ST': '303', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 01:59:49.140000')}
>> {'lap_number': 39, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.990000'), 'sector2_time': Timedelta('0 days 00:00:38.539000'), 'sector3_time': Timedelta('0 days 00:00:33.368000'), None: None, 'speed_I1': '284', 'speed_I2': '295', 'speed_FL': '218', 'speed_ST': '300', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:01:18.955000')}
>> {'lap_number': 40, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.860000'), 'sector2_time': Timedelta('0 days 00:00:38.343000'), 'sector3_time': Timedelta('0 days 00:00:33.424000'), None: None, 'speed_I1': '292', 'speed_I2': '296', 'speed_FL': '218', 'speed_ST': '299', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:02:48.849000')}
>> {'lap_number': 41, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.999000'), 'sector2_time': Timedelta('0 days 00:00:38.325000'), 'sector3_time': Timedelta('0 days 00:00:33.352000'), None: None, 'speed_I1': '291', 'speed_I2': '298', 'speed_FL': '215', 'speed_ST': '304', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:04:18.476000')}
>> {'lap_number': 42, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.939000'), 'sector2_time': Timedelta('0 days 00:00:38.371000'), 'sector3_time': Timedelta('0 days 00:00:33.232000'), None: None, 'speed_I1': '288', 'speed_I2': '302', 'speed_FL': '217', 'speed_ST': '303', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:05:48.217000')}
>> {'lap_number': 43, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.947000'), 'sector2_time': Timedelta('0 days 00:00:38.332000'), 'sector3_time': Timedelta('0 days 00:00:33.058000'), None: None, 'speed_I1': '290', 'speed_I2': '303', 'speed_FL': '217', 'speed_ST': '305', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:07:17.727000')}
>> {'lap_number': 44, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.837000'), 'sector2_time': Timedelta('0 days 00:00:38.196000'), 'sector3_time': Timedelta('0 days 00:00:33.791000'), None: None, 'speed_I1': '292', 'speed_I2': '315', 'speed_FL': '193', 'speed_ST': '322', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:08:47.027000')}
>> {'lap_number': 45, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:19.491000'), 'sector2_time': Timedelta('0 days 00:00:38.355000'), 'sector3_time': Timedelta('0 days 00:00:33.116000'), None: None, 'speed_I1': '291', 'speed_I2': '307', 'speed_FL': '215', 'speed_ST': '308', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:10:16.885000')}
>> {'lap_number': 46, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.848000'), 'sector2_time': Timedelta('0 days 00:00:38.078000'), 'sector3_time': Timedelta('0 days 00:00:34.069000'), None: None, 'speed_I1': '289', 'speed_I2': '300', 'speed_FL': '216', 'speed_ST': '321', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:11:47.798000')}
>> {'lap_number': 47, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.904000'), 'sector2_time': Timedelta('0 days 00:00:38.301000'), 'sector3_time': Timedelta('0 days 00:00:33.929000'), None: None, 'speed_I1': '294', 'speed_I2': '314', 'speed_FL': '217', 'speed_ST': '326', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:13:17.824000')}
>> {'lap_number': 48, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.968000'), 'sector2_time': Timedelta('0 days 00:00:38.300000'), 'sector3_time': Timedelta('0 days 00:00:34.380000'), None: None, 'speed_I1': '290', 'speed_I2': '296', 'speed_FL': '218', 'speed_ST': '324', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:14:47.961000')}
>> {'lap_number': 49, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.974000'), 'sector2_time': Timedelta('0 days 00:00:38.308000'), 'sector3_time': Timedelta('0 days 00:00:33.067000'), None: None, 'speed_I1': '291', 'speed_I2': '304', 'speed_FL': '217', 'speed_ST': '305', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:16:18.623000')}
>> {'lap_number': 50, 'lap_time': None, 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:17.901000'), 'sector2_time': Timedelta('0 days 00:00:38.239000'), 'sector3_time': Timedelta('0 days 00:00:33.612000'), None: None, 'speed_I1': '290', 'speed_I2': '308', 'speed_FL': '212', 'speed_ST': '303', 'no_pits': 1, 'lap_start_time': Timedelta('0 days 02:17:47.959000')}

,lap_start_time,lap_number,lap_time,in_pit,pit_out,sector1_time,sector2_time,sector3_time,None,speed_I1,speed_I2,speed_FL,speed_ST,no_pits,lap_start_time
0,NaT,1,NaT,0 days 00:22:15.162000,NaT,NaT,0 days 00:00:40.348000,0 days 00:00:36.131000,None,279,277,212,302,0,NaT
1,0 days 01:04:03.363000,2,0 days 00:01:34.545000,NaT,NaT,0 days 00:00:19.131000,0 days 00:00:39.368000,0 days 00:00:36.046000,None,286,303,207,298,0,0 days 01:04:03.363000
2,0 days 01:05:37.908000,3,0 days 00:01:33.236000,NaT,NaT,0 days 00:00:18.869000,0 days 00:00:39.611000,0 days 00:00:34.756000,None,284,297,211,317,0,0 days 01:05:37.908000
3,0 days 01:07:11.151000,4,0 days 00:01:32.304000,NaT,NaT,0 days 00:00:18.654000,0 days 00:00:39.218000,0 days 00:00:34.432000,None,279,296,210,304,0,0 days 01:07:11.151000
4,0 days 01:08:43.489000,5,0 days 00:01:31.755000,NaT,NaT,0 days 00:00:18.719000,0 days 00:00:38.993000,0 days 00:00:34.043000,None,284,305,209,307,0,0 days 01:08:43.489000
5,0 days 01:10:15.202000,6,0 days 00:01:32.003000,NaT,NaT,0 days 00:00:18.689000,0 days 00:00:39.006000,0 days 00:00:34.308000,None,279,302,211,304,0,0 days 01:10:15.202000
6,0 days 01:11:47.215000,7,0 days 00:01:31.378000,NaT,NaT,0 days 00:00:18.538000,0 days 00:00:38.777000,0 days 00:00:34.063000,None,284,301,211,307,0,0 days 01:11:47.215000
7,0 days 01:13:18.613000,8,0 days 00:01:31.795000,NaT,NaT,0 days 00:00:18.591000,0 days 00:00:39.049000,0 days 00:00:34.155000,None,286,300,210,302,0,0 days 01:13:18.613000
8,0 days 01:14:50.406000,9,0 days 00:01:31.704000,NaT,NaT,0 days 00:00:18.538000,0 days 00:00:39.223000,0 days 00:00:33.943000,None,277,289,212,299,0,0 days 01:14:50.406000
9,0 days 01:16:22.107000,10,0 days 00:01:31.389000,NaT,NaT,0 days 00:00:18.554000,0 days 00:00:39.132000,0 days 00:00:33.703000,None,279,295,211,298,0,0 days 01:16:22.107000
10,0 days 01:17:53.491000,11,0 days 00:01:31.511000,NaT,NaT,0 days 00:00:18.540000,0 days 00:00:39.021000,0 days 00:00:33.950000,None,278,289,210,297,0,0 days 01:17:53.491000
11,0 days 01:19:25.018000,12,0 days 00:01:30.971000,NaT,NaT,0 days 00:00:18.518000,0 days 00:00:38.888000,0 days 00:00:33.565000,None,279,291,212,298,0,0 days 01:19:25.018000
12,0 days 01:20:55.904000,13,0 days 00:01:31.078000,NaT,NaT,0 days 00:00:18.511000,0 days 00:00:38.886000,0 days 00:00:33.681000,None,None,288,212,298,0,0 days 01:20:55.904000
13,0 days 01:22:27.082000,14,0 days 00:01:30.932000,NaT,NaT,0 days 00:00:18.451000,0 days 00:00:38.884000,0 days 00:00:33.597000,None,280,288,212,295,0,0 days 01:22:27.082000
14,0 days 01:23:57.969000,15,0 days 00:01:31.134000,NaT,NaT,0 days 00:00:18.481000,0 days 00:00:38.998000,0 days 00:00:33.655000,None,None,290,212,291,0,0 days 01:23:57.969000
15,0 days 01:25:29.128000,16,0 days 00:01:31.047000,NaT,NaT,0 days 00:00:18.412000,0 days 00:00:38.944000,0 days 00:00:33.691000,None,279,289,213,297,0,0 days 01:25:29.128000
16,0 days 01:27:00.163000,17,0 days 00:01:31.891000,NaT,NaT,0 days 00:00:18.542000,0 days 00:00:39.173000,0 days 00:00:34.176000,None,280,292,212,279,0,0 days 01:27:00.163000
17,0 days 01:28:32.057000,18,0 days 00:01:30.912000,NaT,NaT,0 days 00:00:18.450000,0 days 00:00:38.917000,0 days 00:00:33.545000,None,281,291,211,297,0,0 days 01:28:32.057000
18,0 days 01:30:02.944000,19,0 days 00:01:30.884000,NaT,NaT,0 days 00:00:18.479000,0 days 00:00:38.820000,0 days 00:00:33.585000,None,282,289,213,296,0,0 days 01:30:02.944000
19,0 days 01:31:33.826000,20,0 days 00:01:32.317000,NaT,NaT,0 days 00:00:18.303000,0 days 00:00:39.324000,0 days 00:00:34.690000,None,280,274,211,300,0,0 days 01:31:33.826000
20,0 days 01:33:06.176000,21,0 days 00:01:30.886000,NaT,NaT,0 days 00:00:18.507000,0 days 00:00:38.758000,0 days 00:00:33.621000,None,283,290,212,299,0,0 days 01:33:06.176000
21,0 days 01:34:37.016000,22,0 days 00:01:32.122000,NaT,NaT,0 days 00:00:18.383000,0 days 00:00:39.085000,0 days 00:00:34.654000,None,280,272,213,292,0,0 days 01:34:37.016000
22,0 days 01:36:09.086000,23,0 days 00:01:30.803000,NaT,NaT,0 days 00:00:18.442000,0 days 00:00:38.759000,0 days 00:00:33.602000,None,285,293,211,298,0,0 days 01:36:09.086000
23,0 days 01:37:39.975000,24,0 days 00:01:30.935000,NaT,NaT,0 days 00:00:18.484000,0 days 00:00:38.816000,0 days 00:00:33.635000,None,281,287,213,298,0,0 days 01:37:39.975000
24,0 days 01:39:10.902000,25,0 days 00:01:31.055000,NaT,NaT,0 days 00:00:18.401000,0 days 00:00:38.940000,0 days 00:00:33.714000,None,282,290,212,297,0,0 days 01:39:10.902000
25,0 days 01:40:41.991000,26,0 days 00:01:31.067000,NaT,NaT,0 days 00:00:18.533000,0 days 00:00:38.969000,0 days 00:00:33.565000,None,None,285,211,298,0,0 days 01:40:41.991000
26,0 days 01:42:13.033000,27,0 days 00:01:32.497000,NaT,NaT,0 days 00:00:18.488000,0 days 00:00:39.004000,0 days 00:00:35.005000,None,280,302,211,296,0,0 days 01:42:13.033000
27,0 days 01:43:45.513000,28,0 days 00:01:34.166000,0 days 01:45:18.551000,NaT,0 days 00:00:18.629000,0 days 00:00:39.332000,0 days 00:00:36.205000,None,287,295,None,303,0,0 days 01:43:45.513000
28,0 days 01:45:19.710000,29,0 days 00:01:49.780000,NaT,0 days 01:45:39.815000,0 days 00:00:38.163000,0 days 00:00:38.563000,0 days 00:00:33.054000,None,282,294,215,297,1,0 days 01:45:19.710000
29,0 days 01:47:09.462000,30,0 days 00:01:29.293000,NaT,NaT,0 days 00:00:18.179000,0 days 00:00:38.269000,0 days 00:00:32.845000,None,280,291,216,295,1,0 days 01:47:09.462000
30,0 days 01:48:38.784000,31,0 days 00:01:29.393000,NaT,NaT,0 days 00:00:18.003000,0 days 00:00:38.467000,0 days 00:00:32.923000,None,277,290,216,294,1,0 days 01:48:38.784000
31,0 days 01:50:08.149000,32,0 days 00:01:29.431000,NaT,NaT,0 days 00:00:18.042000,0 days 00:00:38.423000,0 days 00:00:32.966000,None,281,294,217,294,1,0 days 01:50:08.149000
32,0 days 01:51:37.600000,33,0 days 00:01:29.542000,NaT,NaT,0 days 00:00:18.068000,0 days 00:00:38.497000,0 days 00:00:32.977000,None,280,292,217,297,1,0 days 01:51:37.600000
33,0 days 01:53:07.140000,34,0 days 00:01:29.530000,NaT,NaT,0 days 00:00:17.906000,0 days 00:00:38.456000,0 days 00:00:33.168000,None,283,289,217,298,1,0 days 01:53:07.140000
34,0 days 01:54:36.663000,35,0 days 00:01:47.576000,NaT,NaT,0 days 00:00:17.852000,0 days 00:00:47.579000,0 days 00:00:42.145000,None,281,166,198,256,1,0 days 01:54:36.663000
35,0 days 01:56:24.237000,36,0 days 00:01:53.570000,NaT,NaT,0 days 00:00:25.373000,0 days 00:00:49.392000,0 days 00:00:38.805000,None,133,207,214,193,1,0 days 01:56:24.237000
36,0 days 01:58:17.806000,37,0 days 00:01:31.298000,NaT,NaT,0 days 00:00:18.495000,0 days 00:00:38.469000,0 days 00:00:34.334000,None,289,321,216,319,1,0 days 01:58:17.806000
37,0 days 01:59:49.116000,38,0 days 00:01:29.844000,NaT,NaT,0 days 00:00:18.157000,0 days 00:00:38.400000,0 days 00:00:33.287000,None,290,296,218,303,1,0 days 01:59:49.116000
38,0 days 02:01:18.984000,39,0 days 00:01:29.897000,NaT,NaT,0 days 00:00:17.990000,0 days 00:00:38.539000,0 days 00:00:33.368000,None,284,295,218,300,1,0 days 02:01:18.984000
39,0 days 02:02:48.852000,40,0 days 00:01:29.627000,NaT,NaT,0 days 00:00:17.860000,0 days 00:00:38.343000,0 days 00:00:33.424000,None,292,296,218,299,1,0 days 02:02:48.852000
40,0 days 02:04:18.476000,41,0 days 00:01:29.676000,NaT,NaT,0 days 00:00:17.999000,0 days 00:00:38.325000,0 days 00:00:33.352000,None,291,298,215,304,1,0 days 02:04:18.476000
41,0 days 02:05:48.152000,42,0 days 00:01:29.542000,NaT,NaT,0 days 00:00:17.939000,0 days 00:00:38.371000,0 days 00:00:33.232000,None,288,302,217,303,1,0 days 02:05:48.152000
42,0 days 02:07:17.759000,43,0 days 00:01:29.337000,NaT,NaT,0 days 00:00:17.947000,0 days 00:00:38.332000,0 days 00:00:33.058000,None,290,303,217,305,1,0 days 02:07:17.759000
43,0 days 02:08:47.064000,44,0 days 00:01:29.824000,NaT,NaT,0 days 00:00:17.837000,0 days 00:00:38.196000,0 days 00:00:33.791000,None,292,315,193,322,1,0 days 02:08:47.064000
44,0 days 02:10:16.851000,45,0 days 00:01:30.962000,NaT,NaT,0 days 00:00:19.491000,0 days 00:00:38.355000,0 days 00:00:33.116000,None,291,307,215,308,1,0 days 02:10:16.851000
45,0 days 02:11:47.847000,46,0 days 00:01:29.995000,NaT,NaT,0 days 00:00:17.848000,0 days 00:00:38.078000,0 days 00:00:34.069000,None,289,300,216,321,1,0 days 02:11:47.847000
46,0 days 02:13:17.793000,47,0 days 00:01:30.134000,NaT,NaT,0 days 00:00:17.904000,0 days 00:00:38.301000,0 days 00:00:33.929000,None,294,314,217,326,1,0 days 02:13:17.793000
47,0 days 02:14:47.958000,48,0 days 00:01:30.648000,NaT,NaT,0 days 00:00:17.968000,0 days 00:00:38.300000,0 days 00:00:34.380000,None,290,296,218,324,1,0 days 02:14:47.958000
48,0 days 02:16:18.609000,49,0 days 00:01:29.349000,NaT,NaT,0 days 00:00:17.974000,0 days 00:00:38.308000,0 days 00:00:33.067000,None,291,304,217,305,1,0 days 02:16:18.609000
49,0 days 02:17:47.972000,50,0 days 00:01:29.752000,NaT,NaT,0 days 00:00:17.901000,0 days 00:00:38.239000,0 days 00:00:33.612000,None,290,308,212,303,1,0 days 02:17:47.972000
50,0 days 02:19:17.711000,51,NaT,NaT,NaT,0 days 00:00:17.863000,0 days 00:00:37.987000,-1 days +23:59:04.150000,None,292,320,None,328,1,0 days 02:19:17.711000

In [197]:
# 2048 - Yellow

pd.to_timedelta("0 days 01:05:37.786000") + pd.to_timedelta("0 days 00:01:34.545000")

Timedelta('0 days 01:07:12.331000')

In [97]:
# df_11.to_excel("timing6_abu_2021.xlsx")

In [195]:
laps_df

,lap_number,lap_time,in_pit,pit_out,sector1_time,sector2_time,sector3_time,None,speed_I1,speed_I2,speed_FL,speed_ST,no_pits,lap_start_time
0,1,NaT,0 days 00:22:15.162000,NaT,NaT,0 days 00:00:40.348000,0 days 00:00:36.131000,None,279,277,212,302,0,NaT
1,2,0 days 00:01:34.545000,NaT,NaT,0 days 00:00:19.131000,0 days 00:00:39.368000,0 days 00:00:36.046000,None,286,303,207,298,0,0 days 01:04:03.363000
2,3,0 days 00:01:33.236000,NaT,NaT,0 days 00:00:18.869000,0 days 00:00:39.611000,0 days 00:00:34.756000,None,284,297,211,317,0,0 days 01:05:37.908000
3,4,0 days 00:01:32.304000,NaT,NaT,0 days 00:00:18.654000,0 days 00:00:39.218000,0 days 00:00:34.432000,None,279,296,210,304,0,0 days 01:07:11.151000
4,5,0 days 00:01:31.755000,NaT,NaT,0 days 00:00:18.719000,0 days 00:00:38.993000,0 days 00:00:34.043000,None,284,305,209,307,0,0 days 01:08:43.489000
5,6,0 days 00:01:32.003000,NaT,NaT,0 days 00:00:18.689000,0 days 00:00:39.006000,0 days 00:00:34.308000,None,279,302,211,304,0,0 days 01:10:15.202000
6,7,0 days 00:01:31.378000,NaT,NaT,0 days 00:00:18.538000,0 days 00:00:38.777000,0 days 00:00:34.063000,None,284,301,211,307,0,0 days 01:11:47.215000
7,8,0 days 00:01:31.795000,NaT,NaT,0 days 00:00:18.591000,0 days 00:00:39.049000,0 days 00:00:34.155000,None,286,300,210,302,0,0 days 01:13:18.613000
8,9,0 days 00:01:31.704000,NaT,NaT,0 days 00:00:18.538000,0 days 00:00:39.223000,0 days 00:00:33.943000,None,277,289,212,299,0,0 days 01:14:50.406000
9,10,0 days 00:01:31.389000,NaT,NaT,0 days 00:00:18.554000,0 days 00:00:39.132000,0 days 00:00:33.703000,None,279,295,211,298,0,0 days 01:16:22.107000
10,11,0 days 00:01:31.511000,NaT,NaT,0 days 00:00:18.540000,0 days 00:00:39.021000,0 days 00:00:33.950000,None,278,289,210,297,0,0 days 01:17:53.491000
11,12,0 days 00:01:30.971000,NaT,NaT,0 days 00:00:18.518000,0 days 00:00:38.888000,0 days 00:00:33.565000,None,279,291,212,298,0,0 days 01:19:25.018000
12,13,0 days 00:01:31.078000,NaT,NaT,0 days 00:00:18.511000,0 days 00:00:38.886000,0 days 00:00:33.681000,None,None,288,212,298,0,0 days 01:20:55.904000
13,14,0 days 00:01:30.932000,NaT,NaT,0 days 00:00:18.451000,0 days 00:00:38.884000,0 days 00:00:33.597000,None,280,288,212,295,0,0 days 01:22:27.082000
14,15,0 days 00:01:31.134000,NaT,NaT,0 days 00:00:18.481000,0 days 00:00:38.998000,0 days 00:00:33.655000,None,None,290,212,291,0,0 days 01:23:57.969000
15,16,0 days 00:01:31.047000,NaT,NaT,0 days 00:00:18.412000,0 days 00:00:38.944000,0 days 00:00:33.691000,None,279,289,213,297,0,0 days 01:25:29.128000
16,17,0 days 00:01:31.891000,NaT,NaT,0 days 00:00:18.542000,0 days 00:00:39.173000,0 days 00:00:34.176000,None,280,292,212,279,0,0 days 01:27:00.163000
17,18,0 days 00:01:30.912000,NaT,NaT,0 days 00:00:18.450000,0 days 00:00:38.917000,0 days 00:00:33.545000,None,281,291,211,297,0,0 days 01:28:32.057000
18,19,0 days 00:01:30.884000,NaT,NaT,0 days 00:00:18.479000,0 days 00:00:38.820000,0 days 00:00:33.585000,None,282,289,213,296,0,0 days 01:30:02.944000
19,20,0 days 00:01:32.317000,NaT,NaT,0 days 00:00:18.303000,0 days 00:00:39.324000,0 days 00:00:34.690000,None,280,274,211,300,0,0 days 01:31:33.826000
20,21,0 days 00:01:30.886000,NaT,NaT,0 days 00:00:18.507000,0 days 00:00:38.758000,0 days 00:00:33.621000,None,283,290,212,299,0,0 days 01:33:06.176000
21,22,0 days 00:01:32.122000,NaT,NaT,0 days 00:00:18.383000,0 days 00:00:39.085000,0 days 00:00:34.654000,None,280,272,213,292,0,0 days 01:34:37.016000
22,23,0 days 00:01:30.803000,NaT,NaT,0 days 00:00:18.442000,0 days 00:00:38.759000,0 days 00:00:33.602000,None,285,293,211,298,0,0 days 01:36:09.086000
23,24,0 days 00:01:30.935000,NaT,NaT,0 days 00:00:18.484000,0 days 00:00:38.816000,0 days 00:00:33.635000,None,281,287,213,298,0,0 days 01:37:39.975000
24,25,0 days 00:01:31.055000,NaT,NaT,0 days 00:00:18.401000,0 days 00:00:38.940000,0 days 00:00:33.714000,None,282,290,212,297,0,0 days 01:39:10.902000
25,26,0 days 00:01:31.067000,NaT,NaT,0 days 00:00:18.533000,0 days 00:00:38.969000,0 days 00:00:33.565000,None,None,285,211,298,0,0 days 01:40:41.991000
26,27,0 days 00:01:32.497000,NaT,NaT,0 days 00:00:18.488000,0 days 00:00:39.004000,0 days 00:00:35.005000,None,280,302,211,296,0,0 days 01:42:13.033000
27,28,0 days 00:01:34.166000,0 days 01:45:18.551000,NaT,0 days 00:00:18.629000,0 days 00:00:39.332000,0 days 00:00:36.205000,None,287,295,None,303,0,0 days 01:43:45.513000
28,29,0 days 00:01:49.780000,NaT,0 days 01:45:39.815000,0 days 00:00:38.163000,0 days 00:00:38.563000,0 days 00:00:33.054000,None,282,294,215,297,1,0 days 01:45:19.710000
29,30,0 days 00:01:29.293000,NaT,NaT,0 days 00:00:18.179000,0 days 00:00:38.269000,0 days 00:00:32.845000,None,280,291,216,295,1,0 days 01:47:09.462000
30,31,0 days 00:01:29.393000,NaT,NaT,0 days 00:00:18.003000,0 days 00:00:38.467000,0 days 00:00:32.923000,None,277,290,216,294,1,0 days 01:48:38.784000
31,32,0 days 00:01:29.431000,NaT,NaT,0 days 00:00:18.042000,0 days 00:00:38.423000,0 days 00:00:32.966000,None,281,294,217,294,1,0 days 01:50:08.149000
32,33,0 days 00:01:29.542000,NaT,NaT,0 days 00:00:18.068000,0 days 00:00:38.497000,0 days 00:00:32.977000,None,280,292,217,297,1,0 days 01:51:37.600000
33,34,0 days 00:01:29.530000,NaT,NaT,0 days 00:00:17.906000,0 days 00:00:38.456000,0 days 00:00:33.168000,None,283,289,217,298,1,0 days 01:53:07.140000
34,35,0 days 00:01:47.576000,NaT,NaT,0 days 00:00:17.852000,0 days 00:00:47.579000,0 days 00:00:42.145000,None,281,166,198,256,1,0 days 01:54:36.663000
35,36,0 days 00:01:53.570000,NaT,NaT,0 days 00:00:25.373000,0 days 00:00:49.392000,0 days 00:00:38.805000,None,133,207,214,193,1,0 days 01:56:24.237000
36,37,0 days 00:01:31.298000,NaT,NaT,0 days 00:00:18.495000,0 days 00:00:38.469000,0 days 00:00:34.334000,None,289,321,216,319,1,0 days 01:58:17.806000
37,38,0 days 00:01:29.844000,NaT,NaT,0 days 00:00:18.157000,0 days 00:00:38.400000,0 days 00:00:33.287000,None,290,296,218,303,1,0 days 01:59:49.116000
38,39,0 days 00:01:29.897000,NaT,NaT,0 days 00:00:17.990000,0 days 00:00:38.539000,0 days 00:00:33.368000,None,284,295,218,300,1,0 days 02:01:18.984000
39,40,0 days 00:01:29.627000,NaT,NaT,0 days 00:00:17.860000,0 days 00:00:38.343000,0 days 00:00:33.424000,None,292,296,218,299,1,0 days 02:02:48.852000
40,41,0 days 00:01:29.676000,NaT,NaT,0 days 00:00:17.999000,0 days 00:00:38.325000,0 days 00:00:33.352000,None,291,298,215,304,1,0 days 02:04:18.476000
41,42,0 days 00:01:29.542000,NaT,NaT,0 days 00:00:17.939000,0 days 00:00:38.371000,0 days 00:00:33.232000,None,288,302,217,303,1,0 days 02:05:48.152000
42,43,0 days 00:01:29.337000,NaT,NaT,0 days 00:00:17.947000,0 days 00:00:38.332000,0 days 00:00:33.058000,None,290,303,217,305,1,0 days 02:07:17.759000
43,44,0 days 00:01:29.824000,NaT,NaT,0 days 00:00:17.837000,0 days 00:00:38.196000,0 days 00:00:33.791000,None,292,315,193,322,1,0 days 02:08:47.064000
44,45,0 days 00:01:30.962000,NaT,NaT,0 days 00:00:19.491000,0 days 00:00:38.355000,0 days 00:00:33.116000,None,291,307,215,308,1,0 days 02:10:16.851000
45,46,0 days 00:01:29.995000,NaT,NaT,0 days 00:00:17.848000,0 days 00:00:38.078000,0 days 00:00:34.069000,None,289,300,216,321,1,0 days 02:11:47.847000
46,47,0 days 00:01:30.134000,NaT,NaT,0 days 00:00:17.904000,0 days 00:00:38.301000,0 days 00:00:33.929000,None,294,314,217,326,1,0 days 02:13:17.793000
47,48,0 days 00:01:30.648000,NaT,NaT,0 days 00:00:17.968000,0 days 00:00:38.300000,0 days 00:00:34.380000,None,290,296,218,324,1,0 days 02:14:47.958000
48,49,0 days 00:01:29.349000,NaT,NaT,0 days 00:00:17.974000,0 days 00:00:38.308000,0 days 00:00:33.067000,None,291,304,217,305,1,0 days 02:16:18.609000
49,50,0 days 00:01:29.752000,NaT,NaT,0 days 00:00:17.901000,0 days 00:00:38.239000,0 days 00:00:33.612000,None,290,308,212,303,1,0 days 02:17:47.972000
50,51,NaT,NaT,NaT,0 days 00:00:17.863000,0 days 00:00:37.987000,-1 days +23:59:04.150000,None,292,320,None,328,1,0 days 02:19:17.711000

In [3]:
url = session.path + "TimingData.jsonStream"
res = livetimingF1_getdata(url, True)

In [4]:
for rec in res:
    if rec[0] == '02:12:25.875':
        print(rec[1])

{'Lines': {'11': {'InPit': False, 'PitOut': True, 'Status': 608, 'Sectors': {'0': {'Value': ''}, '1': {'Value': ''}, '2': {'Value': ''}}, 'Speeds': {'I1': {'Value': ''}, 'I2': {'Value': ''}, 'ST': {'Value': ''}}}, '22': {'Sectors': {'1': {'PreviousValue': '48.412'}}}}}
{'Lines': {'14': {'Sectors': {'2': {'Segments': {'6': {'Status': 2048}}}}}}}
{'Lines': {'77': {'GapToLeader': '+69.509', 'IntervalToPositionAhead': {'Value': '+4.663'}}}}